# Домашнее задание № 1

Вам необходимо выбор стратегии валидации и обработку данных от ошибок заполнения.

# Часть 3. Стратегия валидации

Итак, у вас есть данные для обучения и данные, на которых необходимо сделать предсказание. Для оценки точности необходимо проводить валидацию (так как мало данных, можно проводить кросс валидацию).
Валидацию проще всего реализовать методами sklearn, например:
- KFold
- ShuffleSplit
- StratifiedKFold
- StratifiedShuffleSplit
- GroupKFold
- GroupShuffleSplit

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
from sklearn.model_selection import KFold, ShuffleSplit, StratifiedKFold, StratifiedShuffleSplit, GroupKFold, GroupShuffleSplit

In [26]:
X_train = pd.read_csv('train_features_with_answers.csv')
X_train.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,MS,M,NaN,U,LE3,T,1,3,at_home,services,...,yes,yes,4,3,3,2,3,3,0,9
1,GP,M,NaN,R,LE3,T,3,3,teacher,other,...,yes,no,3,3,4,3,5,3,16,12
2,GP,M,15.0,NaN,GT3,T,3,4,other,other,...,yes,no,5,5,1,1,1,5,0,13
3,MS,M,17.0,R,GT3,T,4,3,services,other,...,yes,yes,4,5,5,1,3,2,4,11
4,GP,F,20.0,R,GT3,T,2,1,other,other,...,yes,yes,1,2,3,1,2,2,8,12

#### Примеры разбиений (раскомментить нужную строку для стратегии)

In [31]:
# CV strategy

# cv_folds = KFold(n_splits=5)
# cv_folds = ShuffleSplit(n_splits=5)
# cv_folds = StratifiedKFold(n_splits=5)
# cv_folds = StratifiedShuffleSplit(n_splits=5)
# cv_folds = GroupKFold(n_splits=5)
cv_folds = GroupShuffleSplit(n_splits=5)
'Group' not in type(cv_folds).__name__

False

In [32]:
# CV example
fold_collection = {}
# base
if 'Stratified' not in type(cv_folds).__name__ and 'Group' not in type(cv_folds).__name__:
    for i, (train_index, test_index) in enumerate(cv_folds.split(X_train)):
        print(f"Fold {i}:")
        print(f"  Train: index={train_index}")
        print(f"  Test:  index={test_index}")
        fold_collection[i] = {
            "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
            "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
        }


# stratified
if 'Stratified' in type(cv_folds).__name__:
    design, target = X_train.loc[:, X_train.columns != 'G3'], X_train['G3']
    for i, (train_index, test_index) in enumerate(cv_folds.split(design, target)):
        print(f"Fold {i}:")
        print(f"  Train: index={train_index}")
        print(f"  Test:  index={test_index}")
        fold_collection[i] = {
            "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
            "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
        }

        print('train -  {}   |   test -  {}'.format(np.bincount(target[train_index]), np.bincount(target[test_index])))
        
# group
if 'Group' in type(cv_folds).__name__:
    design, target = X_train.loc[:, X_train.columns != 'G3'], X_train['G3']
    group = design["higher"]
    for i, (train_index, test_index) in enumerate(cv_folds.split(design, target, groups = group)):
        print(f"Fold {i}:")
        print(f"  Train: index={train_index}")
        print(f"  Test:  index={test_index}")
        fold_collection[i] = {
            "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
            "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
        }

fold_collection

Fold 0:
  Train: index=[  0   4  16  21  22  34  47  56  58  61  72  79  84 103 118 123 126 128
 131 136 139 152 156 176 179 191 209 213 220 227 230 245 246 258 260 261
 266 279 288 292 314 334 356 385 393 409 412 414 418 434]
  Test:  index=[  1   2   3   5   6   7   8   9  10  11  12  13  14  15  17  18  19  20
  23  24  25  26  27  28  29  30  31  32  33  35  36  37  38  39  40  41
  42  43  44  45  46  48  49  50  51  52  53  54  55  57  59  60  62  63
  64  65  66  67  68  69  70  71  73  74  75  76  77  78  80  81  82  83
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 119 120 121 122
 124 125 127 129 130 132 133 134 135 137 138 140 141 142 143 144 145 146
 147 148 149 150 151 153 154 155 157 158 159 160 161 162 163 164 165 166
 167 168 169 170 171 172 173 174 175 177 178 180 181 182 183 184 185 186
 187 188 189 190 192 193 194 195 196 197 198 199 200 201 202 203 204 205
 206 207 208 210 211 212 214 215 216 217 218 219 221 222 223 224 225 226
 228 229 231 232 233 234 235 236 237 238 239 240 241 242 243 244 247 248
 249 250 251 252 253 254 255 256 257 259 262 263 264 265 267 268 269 270
 271 272 273 274 275 276 277 278 280 281 282 283 284 285 286 287 289 290
 291 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309
 310 311 312 313 315 316 317 318 319 320 321 322 323 324 325 326 327 328
 329 330 331 332 333 335 336 337 338 339 340 341 342 343 344 345 346 347
 348 349 350 351 352 353 354 355 357 358 359 360 361 362 363 364 365 366
 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384
 386 387 388 389 390 391 392 394 395 396 397 398 399 400 401 402 403 404
 405 406 407 408 410 411 413 415 416 417 419 420 421 422 423 424 425 426
 427 428 429 430 431 432 433 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453]
Fold 1:
  Train: index=[  1   2   3   5   6   7   8   9  10  11  12  13  14  15  17  18  19  20
  23  24  25  26  27  28  29  30  31  32  33  35  36  37  38  39  40  41
  42  43  44  45  46  48  49  50  51  52  53  54  55  57  59  60  62  63
  64  65  66  67  68  69  70  71  73  74  75  76  77  78  80  81  82  83
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 119 120 121 122
 124 125 127 129 130 132 133 134 135 137 138 140 141 142 143 144 145 146
 147 148 149 150 151 153 154 155 157 158 159 160 161 162 163 164 165 166
 167 168 169 170 171 172 173 174 175 177 178 180 181 182 183 184 185 186
 187 188 189 190 192 193 194 195 196 197 198 199 200 201 202 203 204 205
 206 207 208 210 211 212 214 215 216 217 218 219 221 222 223 224 225 226
 228 229 231 232 233 234 235 236 237 238 239 240 241 242 243 244 247 248
 249 250 251 252 253 254 255 256 257 259 262 263 264 265 267 268 269 270
 271 272 273 274 275 276 277 278 280 281 282 283 284 285 286 287 289 290
 291 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309
 310 311 312 313 315 316 317 318 319 320 321 322 323 324 325 326 327 328
 329 330 331 332 333 335 336 337 338 339 340 341 342 343 344 345 346 347
 348 349 350 351 352 353 354 355 357 358 359 360 361 362 363 364 365 366
 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384
 386 387 388 389 390 391 392 394 395 396 397 398 399 400 401 402 403 404
 405 406 407 408 410 411 413 415 416 417 419 420 421 422 423 424 425 426
 427 428 429 430 431 432 433 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453]
  Test:  index=[  0   4  16  21  22  34  47  56  58  61  72  79  84 103 118 123 126 128
 131 136 139 152 156 176 179 191 209 213 220 227 230 245 246 258 260 261
 266 279 288 292 314 334 356 385 393 409 412 414 418 434]
Fold 2:
  Train: index=[  1   2   3   5   6   7   8   9  10  11  12  13  14  15  17  18  19  20
  23  24  25  26  27  28  29  30  31  32  33  35  36  37  38  39  40  41
  42  43  44  45  46  48  49  50  51  52  53  54  55  57  59  60  62  63
  64  65  66  67  68  69  70  71  73  74  75  76  77  78  80  81  82  83
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 119 120 121 122
 124 125 127 129 130 132 133 134 135 137 138 140 141 142 143 144 145 146
 147 148 149 150 151 153 154 155 157 158 159 160 161 162 163 164 165 166
 167 168 169 170 171 172 173 174 175 177 178 180 181 182 183 184 185 186
 187 188 189 190 192 193 194 195 196 197 198 199 200 201 202 203 204 205
 206 207 208 210 211 212 214 215 216 217 218 219 221 222 223 224 225 226
 228 229 231 232 233 234 235 236 237 238 239 240 241 242 243 244 247 248
 249 250 251 252 253 254 255 256 257 259 262 263 264 265 267 268 269 270
 271 272 273 274 275 276 277 278 280 281 282 283 284 285 286 287 289 290
 291 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309
 310 311 312 313 315 316 317 318 319 320 321 322 323 324 325 326 327 328
 329 330 331 332 333 335 336 337 338 339 340 341 342 343 344 345 346 347
 348 349 350 351 352 353 354 355 357 358 359 360 361 362 363 364 365 366
 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384
 386 387 388 389 390 391 392 394 395 396 397 398 399 400 401 402 403 404
 405 406 407 408 410 411 413 415 416 417 419 420 421 422 423 424 425 426
 427 428 429 430 431 432 433 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453]
  Test:  index=[  0   4  16  21  22  34  47  56  58  61  72  79  84 103 118 123 126 128
 131 136 139 152 156 176 179 191 209 213 220 227 230 245 246 258 260 261
 266 279 288 292 314 334 356 385 393 409 412 414 418 434]
Fold 3:
  Train: index=[  1   2   3   5   6   7   8   9  10  11  12  13  14  15  17  18  19  20
  23  24  25  26  27  28  29  30  31  32  33  35  36  37  38  39  40  41
  42  43  44  45  46  48  49  50  51  52  53  54  55  57  59  60  62  63
  64  65  66  67  68  69  70  71  73  74  75  76  77  78  80  81  82  83
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 119 120 121 122
 124 125 127 129 130 132 133 134 135 137 138 140 141 142 143 144 145 146
 147 148 149 150 151 153 154 155 157 158 159 160 161 162 163 164 165 166
 167 168 169 170 171 172 173 174 175 177 178 180 181 182 183 184 185 186
 187 188 189 190 192 193 194 195 196 197 198 199 200 201 202 203 204 205
 206 207 208 210 211 212 214 215 216 217 218 219 221 222 223 224 225 226
 228 229 231 232 233 234 235 236 237 238 239 240 241 242 243 244 247 248
 249 250 251 252 253 254 255 256 257 259 262 263 264 265 267 268 269 270
 271 272 273 274 275 276 277 278 280 281 282 283 284 285 286 287 289 290
 291 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309
 310 311 312 313 315 316 317 318 319 320 321 322 323 324 325 326 327 328
 329 330 331 332 333 335 336 337 338 339 340 341 342 343 344 345 346 347
 348 349 350 351 352 353 354 355 357 358 359 360 361 362 363 364 365 366
 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384
 386 387 388 389 390 391 392 394 395 396 397 398 399 400 401 402 403 404
 405 406 407 408 410 411 413 415 416 417 419 420 421 422 423 424 425 426
 427 428 429 430 431 432 433 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453]
  Test:  index=[  0   4  16  21  22  34  47  56  58  61  72  79  84 103 118 123 126 128
 131 136 139 152 156 176 179 191 209 213 220 227 230 245 246 258 260 261
 266 279 288 292 314 334 356 385 393 409 412 414 418 434]
Fold 4:
  Train: index=[  1   2   3   5   6   7   8   9  10  11  12  13  14  15  17  18  19  20
  23  24  25  26  27  28  29  30  31  32  33  35  36  37  38  39  40  41
  42  43  44  45  46  48  49  50  51  52  53  54  55  57  59  60  62  63
  64  65  66  67  68  69  70  71  73  74  75  76  77  78  80  81  82  83
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 119 120 121 122
 124 125 127 129 130 132 133 134 135 137 138 140 141 142 143 144 145 146
 147 148 149 150 151 153 154 155 157 158 159 160 161 162 163 164 165 166
 167 168 169 170 171 172 173 174 175 177 178 180 181 182 183 184 185 186
 187 188 189 190 192 193 194 195 196 197 198 199 200 201 202 203 204 205
 206 207 208 210 211 212 214 215 216 217 218 219 221 222 223 224 225 226
 228 229 231 232 233 234 235 236 237 238 239 240 241 242 243 244 247 248
 249 250 251 252 253 254 255 256 257 259 262 263 264 265 267 268 269 270
 271 272 273 274 275 276 277 278 280 281 282 283 284 285 286 287 289 290
 291 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309
 310 311 312 313 315 316 317 318 319 320 321 322 323 324 325 326 327 328
 329 330 331 332 333 335 336 337 338 339 340 341 342 343 344 345 346 347
 348 349 350 351 352 353 354 355 357 358 359 360 361 362 363 364 365 366
 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384
 386 387 388 389 390 391 392 394 395 396 397 398 399 400 401 402 403 404
 405 406 407 408 410 411 413 415 416 417 419 420 421 422 423 424 425 426
 427 428 429 430 431 432 433 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453]
  Test:  index=[  0   4  16  21  22  34  47  56  58  61  72  79  84 103 118 123 126 128
 131 136 139 152 156 176 179 191 209 213 220 227 230 245 246 258 260 261
 266 279 288 292 314 334 356 385 393 409 412 414 418 434]

{0: {'Train': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
   0       MS   M   NaN       U     LE3       T     1     3   at_home  services
   4       GP   F  20.0       R     GT3       T     2     1     other     other
   16      MS   F  18.0       R     GT3       T     1     1   at_home   at_home
   21      GP   M  17.0     NaN     LE3       T     1     1     other  services
   22      GP   F  16.0     NaN     GT3       T     1     2     other     other
   34      GP   M  18.0       U     LE3       T     2     2  services  services
   47      GP   F  19.0       R     GT3       T     3     2  services  services
   56      GP   M  18.0       U     GT3       T     2     1  services  services
   58      GP   M  17.0       U     GT3       T     2     2     other     other
   61      GP   F  19.0       U     GT3       T     1     1     other     other
   72      MS   F  19.0       U     LE3       A     1     1   at_home     other
   79      MS   F  16.0       R     GT3       T     2     2     other     other
   84      MS   M   NaN       R     GT3       T     2     2     other     other
   103     MS   M  19.0       U     GT3       T     1     1     other     other
   118     GP   F  18.0       U     GT3       T     3     3     other     other
   123     MS   M  18.0       U     GT3       T     3     3   at_home   at_home
   126     GP   M  16.0       U     GT3       T     2     2     other     other
   128     MS   F  19.0       U     GT3       T     2     3   at_home  services
   131     MS   F  19.0       U     GT3       T     1     1   at_home  services
   136     MS   M  17.0       U     GT3       T     1     2     other     other
   139     MS   M  18.0       R     LE3       T     1     2   at_home  services
   152     GP   M  18.0       U     GT3       T     2     2     other  services
   156     GP   F  15.0       U     LE3       A     2     1   at_home     other
   176     MS   F  15.0       R     LE3       T     2     1   at_home     other
   179     MS   F  16.0       U     GT3       T     1     3   at_home     other
   191     MS   F  19.0       R     GT3       A     1     1   at_home   at_home
   209     MS   F  16.0       U     LE3       A     2     2   at_home     other
   213     GP   M  17.0       R     GT3       T     2     2     other  services
   220     GP   F  19.0       U     GT3       T     0     1   at_home     other
   227     MS   F  18.0       U     GT3       T     1     1   at_home  services
   230     MS   M  20.0       R     GT3       T     1     1     other     other
   245     GP   M  18.0       U     GT3       T     1     2   at_home     other
   246     GP   M  22.0       U     GT3       T     3     1  services  services
   258     MS   F  18.0       R     LE3       A     3     2     other     other
   260     MS   M  18.0       R     GT3       T     3     2  services     other
   261     MS   M  19.0       U     GT3       T     2     1   at_home     other
   266     MS   F  16.0       U     GT3       T     3     3     other     other
   279     MS   F  15.0       R     LE3       T     1     1   at_home     other
   288     GP   M  17.0       U     GT3       T     3     2  services  services
   292     MS   M  18.0       U     LE3       T     4     4   at_home    health
   314     GP   M  18.0       U     GT3       T     3     2  services     other
   334     MS   F  18.0       U     GT3       T     1     2   at_home   at_home
   356     MS   M  18.0       R     GT3       T     1     1     other     other
   385     GP   M  16.0       U     GT3       T     4     4   teacher   teacher
   393     MS   F  19.0       U     GT3       T     1     1   at_home  services
   409     MS   M  17.0       R     GT3       T     1     1     other  services
   412     GP   M  19.0       U     GT3       T     3     2  services   at_home
   414     MS   F  16.0       U     LE3       A     2     2     other     other
   418     MS   M  18.0       R     GT3       T     1     1  services     other
   434     GP   M  21.0       R     LE3       T     1     1   at_home     other

        ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
   0    ...     no      yes       yes       4         3     3    2    3      3
   4    ...     no      yes       yes       1         2     3    1    2      2
   16   ...     no      yes       yes       3         2     3    1    1      2
   21   ...     no       no       yes       5         3     5    1    5      5
   22   ...     no      yes        no       5         3     5    1    2      5
   34   ...     no      yes        no       4         4     4    1    3      3
   47   ...     no      yes        no       3         3     3    4    3      3
   56   ...     no      yes        no       3         2     5    2    5      5
   58   ...     no      yes        no       4         4     4    2    3      4
   61   ...     no       no       yes       1         5     5    4    3      5
   72   ...     no       no        no       1         4     4    1    1      5
   79   ...     no      yes        no       3         4     5    1    2      1
   84   ...     no       no       yes       5         5     5    3    5      5
   103  ...     no      yes        no       4         4     3    3    4      4
   118  ...     no      yes        no       4         1     1    1    1      3
   123  ...     no      yes        no       4         4     5    1    3      3
   126  ...     no      yes        no       4         3     5    2    4      4
   128  ...     no      yes       yes       4         4     4    1    1      2
   131  ...     no       no       yes       5         3     1    1    1      3
   136  ...     no      yes       yes       5         3     5    5    5      1
   139  ...     no      yes       yes       4         3     3    2    3      3
   152  ...     no      yes        no       5         5     4    3    5      2
   156  ...     no      yes       yes       4         4     2    1    1      5
   176  ...     no       no        no       1         3     4    1    1      1
   179  ...     no      yes       yes       4         3     3    1    3      5
   191  ...     no       no       yes       3         5     4    1    4      1
   209  ...     no       no       yes       1         2     1    1    1      1
   213  ...     no       no        no       5         2     2    1    1      4
   220  ...     no       no        no       3         4     2    1    1      5
   227  ...     no       no        no       4         4     2    1    2      2
   230  ...     no      yes       yes       4         4     3    2    4      4
   245  ...     no      yes        no       3         4     4    2    4      4
   246  ...     no      yes       yes       5         4     5    5    5      1
   258  ...     no       no       yes       3         3     2    1    1      2
   260  ...     no      yes        no       2         3     1    2    2      5
   261  ...     no      yes       yes       4         4     3    1    3      5
   266  ...     no      yes       yes       4         5     4    1    1      4
   279  ...     no       no       yes       5         2     1    1    3      4
   288  ...     no       no        no       4         5     2    1    1      2
   292  ...     no      yes       yes       5         5     5    5    5      5
   314  ...     no      yes        no       4         4     5    2    4      5
   334  ...     no       no        no       4         1     1    1    1      4
   356  ...     no      yes        no       4         4     3    3    4      4
   385  ...     no      yes       yes       3         3     2    2    1      5
   393  ...     no       no        no       5         5     5    2    3      2
   409  ...     no       no        no       4         2     3    3    4      4
   412  ...     no      yes       yes       4         5     4    1    1      4
   414  ...     no       no        no       4         3     4    1    2      1
   418  ...     no      yes       yes       5         3     3    2    3      5
   434  ...     no      yes       yes       5         3     3    5    2      4

       absences
   0          0
   4          8
   16         4
   21         0
   22         4
   34        11
   47         0
   56         4
   58         8
   61        12
   72         0
   79         1
   84         0
   103        2
   118       14
   123        9
   126        0
   128        0
   131        6
   136       12
   139        3
   152       16
   156        0
   176        0
   179       11
   191        0
   209        4
   213        0
   220        0
   227        2
   230       12
   245       10
   246       12
   258        6
   260        0
   261        4
   266        0
   279        0
   288       10
   292        2
   314        8
   334        0
   356        0
   385       16
   393        0
   409        4
   412        6
   414        6
   418        2
   434       21

   [50 rows x 30 columns],
        G3
   0     9
   4    12
   16   10
   21    8
   22   11
   34   12
   47   10
   56    6
   58    9
   61   11
   72    7
   79   11
   84   10
   103  10
   118   7
   123   8
   126  11
   128  10
   131   9
   136   7
   139  10
   152   8
   156  10
   176   9
   179  11
   191   0
   209  11
   213  10
   220  11
   227  10
   230  10
   245  11
   246   5
   258  10
   260   0
   261   9
   266  13
   279   9
   288   8
   292   6
   314   7
   334  12
   356  10
   385   8
   393   0
   409  14
   412  11
   414   8
   418   9
   434  10],
  'Test': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
   1       GP   M   NaN       R     LE3       T     3     3   teacher     other
   2       GP   M  15.0     NaN     GT3       T     3     4     other     other
   3       MS   M  17.0       R     GT3       T     4     3  services     other
   5       GP   F  17.0       U     GT3       T     2     3     other     other
   6       MS   F  18.0       U     GT3       T     3     3     other     other
   ..     ...  ..   ...     ...     ...     ...   ...   ...       ...       ...
   449     GP   M  15.0       U     GT3       T     4     2     other     other
   450     GP   F  15.0       U     GT3       T     2     2     other     other
   451     GP   M  16.0       U     GT3       T     4     4  services  services
   452     MS   F  15.0       R     LE3       T     1     1   at_home  services
   453     GP   M  15.0       U     GT3       T     4     4  services     other

        ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
   1    ...    yes      yes        no       3         3     4    3    5      3
   2    ...    yes      yes        no       5         5     1    1    1      5
   3    ...    yes      yes       yes       4         5     5    1    3      2
   5    ...    yes      yes       yes       4         2     1    1    1      3
   6    ...    yes      yes       yes       4         1     3    1    2      1
   ..   ...    ...      ...       ...     ...       ...   ...  ...  ...    ...
   449  ...    yes      yes        no       3         3     3    1    1      3
   450  ...    yes      yes        no       5         1     2    1    1      3
   451  ...    yes      yes        no       5         3     2    1    2      5
   452  ...    yes      yes        no       5         4     3    1    2      4
   453  ...    yes      yes        no       5         3     3    1    1      5

       absences
   1         16
   2          0
   3          4
   5          2
   6          1
   ..       ...
   449        0
   450        4
   451        4
   452        0
   453        2

   [404 rows x 30 columns],
        G3
   1    12
   2    13
   3    11
   5    14
   6    16
   ..   ..
   449  10
   450  10
   451  15
   452  10
   453  12

   [404 rows x 1 columns]]},
 1: {'Train': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
   1       GP   M   NaN       R     LE3       T     3     3   teacher     other
   2       GP   M  15.0     NaN     GT3       T     3     4     other     other
   3       MS   M  17.0       R     GT3       T     4     3  services     other
   5       GP   F  17.0       U     GT3       T     2     3     other     other
   6       MS   F  18.0       U     GT3       T     3     3     other     other
   ..     ...  ..   ...     ...     ...     ...   ...   ...       ...       ...
   449     GP   M  15.0       U     GT3       T     4     2     other     other
   450     GP   F  15.0       U     GT3       T     2     2     other     other
   451     GP   M  16.0       U     GT3       T     4     4  services  services
   452     MS   F  15.0       R     LE3       T     1     1   at_home  services
   453     GP   M  15.0       U     GT3       T     4     4  services     other

        ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
   1    ...    yes      yes        no       3         3     4    3    5      3
   2    ...    yes      yes        no       5         5     1    1    1      5
   3    ...    yes      yes       yes       4         5     5    1    3      2
   5    ...    yes      yes       yes       4         2     1    1    1      3
   6    ...    yes      yes       yes       4         1     3    1    2      1
   ..   ...    ...      ...       ...     ...       ...   ...  ...  ...    ...
   449  ...    yes      yes        no       3         3     3    1    1      3
   450  ...    yes      yes        no       5         1     2    1    1      3
   451  ...    yes      yes        no       5         3     2    1    2      5
   452  ...    yes      yes        no       5         4     3    1    2      4
   453  ...    yes      yes        no       5         3     3    1    1      5

       absences
   1         16
   2          0
   3          4
   5          2
   6          1
   ..       ...
   449        0
   450        4
   451        4
   452        0
   453        2

   [404 rows x 30 columns],
        G3
   1    12
   2    13
   3    11
   5    14
   6    16
   ..   ..
   449  10
   450  10
   451  15
   452  10
   453  12

   [404 rows x 1 columns]],
  'Test': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
   0       MS   M   NaN       U     LE3       T     1     3   at_home  services
   4       GP   F  20.0       R     GT3       T     2     1     other     other
   16      MS   F  18.0       R     GT3       T     1     1   at_home   at_home
   21      GP   M  17.0     NaN     LE3       T     1     1     other  services
   22      GP   F  16.0     NaN     GT3       T     1     2     other     other
   34      GP   M  18.0       U     LE3       T     2     2  services  services
   47      GP   F  19.0       R     GT3       T     3     2  services  services
   56      GP   M  18.0       U     GT3       T     2     1  services  services
   58      GP   M  17.0       U     GT3       T     2     2     other     other
   61      GP   F  19.0       U     GT3       T     1     1     other     other
   72      MS   F  19.0       U     LE3       A     1     1   at_home     other
   79      MS   F  16.0       R     GT3       T     2     2     other     other
   84      MS   M   NaN       R     GT3       T     2     2     other     other
   103     MS   M  19.0       U     GT3       T     1     1     other     other
   118     GP   F  18.0       U     GT3       T     3     3     other     other
   123     MS   M  18.0       U     GT3       T     3     3   at_home   at_home
   126     GP   M  16.0       U     GT3       T     2     2     other     other
   128     MS   F  19.0       U     GT3       T     2     3   at_home  services
   131     MS   F  19.0       U     GT3       T     1     1   at_home  services
   136     MS   M  17.0       U     GT3       T     1     2     other     other
   139     MS   M  18.0       R     LE3       T     1     2   at_home  services
   152     GP   M  18.0       U     GT3       T     2     2     other  services
   156     GP   F  15.0       U     LE3       A     2     1   at_home     other
   176     MS   F  15.0       R     LE3       T     2     1   at_home     other
   179     MS   F  16.0       U     GT3       T     1     3   at_home     other
   191     MS   F  19.0       R     GT3       A     1     1   at_home   at_home
   209     MS   F  16.0       U     LE3       A     2     2   at_home     other
   213     GP   M  17.0       R     GT3       T     2     2     other  services
   220     GP   F  19.0       U     GT3       T     0     1   at_home     other
   227     MS   F  18.0       U     GT3       T     1     1   at_home  services
   230     MS   M  20.0       R     GT3       T     1     1     other     other
   245     GP   M  18.0       U     GT3       T     1     2   at_home     other
   246     GP   M  22.0       U     GT3       T     3     1  services  services
   258     MS   F  18.0       R     LE3       A     3     2     other     other
   260     MS   M  18.0       R     GT3       T     3     2  services     other
   261     MS   M  19.0       U     GT3       T     2     1   at_home     other
   266     MS   F  16.0       U     GT3       T     3     3     other     other
   279     MS   F  15.0       R     LE3       T     1     1   at_home     other
   288     GP   M  17.0       U     GT3       T     3     2  services  services
   292     MS   M  18.0       U     LE3       T     4     4   at_home    health
   314     GP   M  18.0       U     GT3       T     3     2  services     other
   334     MS   F  18.0       U     GT3       T     1     2   at_home   at_home
   356     MS   M  18.0       R     GT3       T     1     1     other     other
   385     GP   M  16.0       U     GT3       T     4     4   teacher   teacher
   393     MS   F  19.0       U     GT3       T     1     1   at_home  services
   409     MS   M  17.0       R     GT3       T     1     1     other  services
   412     GP   M  19.0       U     GT3       T     3     2  services   at_home
   414     MS   F  16.0       U     LE3       A     2     2     other     other
   418     MS   M  18.0       R     GT3       T     1     1  services     other
   434     GP   M  21.0       R     LE3       T     1     1   at_home     other

        ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
   0    ...     no      yes       yes       4         3     3    2    3      3
   4    ...     no      yes       yes       1         2     3    1    2      2
   16   ...     no      yes       yes       3         2     3    1    1      2
   21   ...     no       no       yes       5         3     5    1    5      5
   22   ...     no      yes        no       5         3     5    1    2      5
   34   ...     no      yes        no       4         4     4    1    3      3
   47   ...     no      yes        no       3         3     3    4    3      3
   56   ...     no      yes        no       3         2     5    2    5      5
   58   ...     no      yes        no       4         4     4    2    3      4
   61   ...     no       no       yes       1         5     5    4    3      5
   72   ...     no       no        no       1         4     4    1    1      5
   79   ...     no      yes        no       3         4     5    1    2      1
   84   ...     no       no       yes       5         5     5    3    5      5
   103  ...     no      yes        no       4         4     3    3    4      4
   118  ...     no      yes        no       4         1     1    1    1      3
   123  ...     no      yes        no       4         4     5    1    3      3
   126  ...     no      yes        no       4         3     5    2    4      4
   128  ...     no      yes       yes       4         4     4    1    1      2
   131  ...     no       no       yes       5         3     1    1    1      3
   136  ...     no      yes       yes       5         3     5    5    5      1
   139  ...     no      yes       yes       4         3     3    2    3      3

## Разделите данные и объясните выбор стратегии

In [ ]:
# Ваш код

__Ваш ответ:__ лучше бить по дефолту через _StratifiedShuffleSplit_ для классификации, тк мы не знаем, обьединены ли данные одной природой, чтобы использовать GroupFold, и лучше перемешать данные для генерации независимой выборки, а так сохранится доля классов в test train и будет сохраняться распределение классов. 

Данную задачу можно рассматривать и как регрессию, и как классификацию. Для регрессии сложно взять Stratified тк нету деления по классам, поэтому лучше выбрать _ShuffleSplit_

Если в данных есть какая-то группировка по природе объектов - лучше использовать Group strategy. Возможно объекты сгруппированы по Fedu, higher и studytime (высокая корреляция с G3). Поэтому можно сделать группы с высшим образованием (_higher_ - бинарный признак, лекго делить)

__Вывод:__ Стоит попробовать Group Shuffle на higher и либо StratifiedShuffleSplit (если рассматривать как классификацию), либо

# Часть 4. Заполнение пропусков в данных

## Фильтрация по диапазону значений 

Проверьте, что все характеристики принадлежат тому диапазону значений, который приведен в описании к исходным данным. Например, если в графе "Пол" есть значение FF, P или -1, то это явная ошибка заполнения.

Приведите данные в соответствии с описанием данных. Если значение указано неверно - укажите ```NaN```.

In [ ]:
# Ваш код

## Адаптивное заполнения пропусков 

Реализуйте стратегию заполнения пропусков данных на основе схожих примеров. Обучите один из известных вам алгоритмов (knn, Naive Bayes, linear regression) для предсказания той характеристики, пропуски которой присутсвуют в данных. В качестве характеристики для обучения алгоритмов __нельзя__ использовать ```G3```.

In [ ]:
# Ваш код