# Домашнее задание № 1

Вам необходимо выбор стратегии валидации и обработку данных от ошибок заполнения.

# Часть 3. Стратегия валидации

Итак, у вас есть данные для обучения и данные, на которых необходимо сделать предсказание. Для оценки точности необходимо проводить валидацию (так как мало данных, можно проводить кросс валидацию).
Валидацию проще всего реализовать методами sklearn, например:
- KFold
- ShuffleSplit
- StratifiedKFold
- StratifiedShuffleSplit
- GroupKFold
- GroupShuffleSplit

In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
from sklearn.model_selection import KFold, ShuffleSplit, StratifiedKFold, StratifiedShuffleSplit, GroupKFold, GroupShuffleSplit

In [42]:
X_train = pd.read_csv('train_features_with_answers.csv')
X_train.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,MS,M,NaN,U,LE3,T,1,3,at_home,services,...,yes,yes,4,3,3,2,3,3,0,9
1,GP,M,NaN,R,LE3,T,3,3,teacher,other,...,yes,no,3,3,4,3,5,3,16,12
2,GP,M,15.0,NaN,GT3,T,3,4,other,other,...,yes,no,5,5,1,1,1,5,0,13
3,MS,M,17.0,R,GT3,T,4,3,services,other,...,yes,yes,4,5,5,1,3,2,4,11
4,GP,F,20.0,R,GT3,T,2,1,other,other,...,yes,yes,1,2,3,1,2,2,8,12

#### Примеры разбиений (раскомментить нужную строку для стратегии)

In [43]:
# CV strategy

# cv_folds = KFold(n_splits=5)
# cv_folds = ShuffleSplit(n_splits=5)
# cv_folds = StratifiedKFold(n_splits=5)
# cv_folds = StratifiedShuffleSplit(n_splits=5)
# cv_folds = GroupKFold(n_splits=2)
cv_folds = GroupShuffleSplit(n_splits=2)
'Group' not in type(cv_folds).__name__

False

In [44]:
# CV example
fold_collection = {}
# base
if 'Stratified' not in type(cv_folds).__name__ and 'Group' not in type(cv_folds).__name__:
    for i, (train_index, test_index) in enumerate(cv_folds.split(X_train)):
        print(f"Fold {i}:")
        print(f"  Train: index={train_index}")
        print(f"  Test:  index={test_index}")
        fold_collection[i] = {
            "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
            "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
        }


# stratified
if 'Stratified' in type(cv_folds).__name__:
    design, target = X_train.loc[:, X_train.columns != 'G3'], X_train['G3']
    for i, (train_index, test_index) in enumerate(cv_folds.split(design, target)):
        print(f"Fold {i}:")
        print(f"  Train: index={train_index}")
        print(f"  Test:  index={test_index}")
        fold_collection[i] = {
            "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
            "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
        }

        print('train -  {}   |   test -  {}'.format(np.bincount(target[train_index]), np.bincount(target[test_index])))
        
# group
if 'Group' in type(cv_folds).__name__:
    design, target = X_train.loc[:, X_train.columns != 'G3'], X_train['G3']
    group = design["higher"]
    for i, (train_index, test_index) in enumerate(cv_folds.split(design, target, groups = group)):
        print(f"Fold {i}:")
        print(f"  Train: index={train_index}")
        print(f"  Test:  index={test_index}")

        print("test groups")
        print(f"Train groups X: {list(X_train.loc[:, X_train.columns != 'G3'].iloc[train_index]['higher'].unique())}")
        print(f"Test groups X: {list(X_train.loc[:, X_train.columns != 'G3'].iloc[test_index]['higher'].unique())}")
        fold_collection[i] = {
            "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
            "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
        }

fold_collection

Fold 0:
  Train: index=[  0   4  16  21  22  34  47  56  58  61  72  79  84 103 118 123 126 128
 131 136 139 152 156 176 179 191 209 213 220 227 230 245 246 258 260 261
 266 279 288 292 314 334 356 385 393 409 412 414 418 434]
  Test:  index=[  1   2   3   5   6   7   8   9  10  11  12  13  14  15  17  18  19  20
  23  24  25  26  27  28  29  30  31  32  33  35  36  37  38  39  40  41
  42  43  44  45  46  48  49  50  51  52  53  54  55  57  59  60  62  63
  64  65  66  67  68  69  70  71  73  74  75  76  77  78  80  81  82  83
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 119 120 121 122
 124 125 127 129 130 132 133 134 135 137 138 140 141 142 143 144 145 146
 147 148 149 150 151 153 154 155 157 158 159 160 161 162 163 164 165 166
 167 168 169 170 171 172 173 174 175 177 178 180 181 182 183 184 185 186
 187 188 189 190 192 193 194 195 196 197 198 199 200 201 202 203 204 205
 206 207 208 210 211 212 214 215 216 217 218 219 221 222 223 224 225 226
 228 229 231 232 233 234 235 236 237 238 239 240 241 242 243 244 247 248
 249 250 251 252 253 254 255 256 257 259 262 263 264 265 267 268 269 270
 271 272 273 274 275 276 277 278 280 281 282 283 284 285 286 287 289 290
 291 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309
 310 311 312 313 315 316 317 318 319 320 321 322 323 324 325 326 327 328
 329 330 331 332 333 335 336 337 338 339 340 341 342 343 344 345 346 347
 348 349 350 351 352 353 354 355 357 358 359 360 361 362 363 364 365 366
 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384
 386 387 388 389 390 391 392 394 395 396 397 398 399 400 401 402 403 404
 405 406 407 408 410 411 413 415 416 417 419 420 421 422 423 424 425 426
 427 428 429 430 431 432 433 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453]
test groups
Train groups X: ['no']
Test groups X: ['yes']
Fold 1:
  Train: index=[  0   4  16  21  22  34  47  56  58  61  72  79  84 103 118 123 126 128
 131 136 139 152 156 176 179 191 209 213 220 227 230 245 246 258 260 261
 266 279 288 292 314 334 356 385 393 409 412 414 418 434]
  Test:  index=[  1   2   3   5   6   7   8   9  10  11  12  13  14  15  17  18  19  20
  23  24  25  26  27  28  29  30  31  32  33  35  36  37  38  39  40  41
  42  43  44  45  46  48  49  50  51  52  53  54  55  57  59  60  62  63
  64  65  66  67  68  69  70  71  73  74  75  76  77  78  80  81  82  83
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 119 120 121 122
 124 125 127 129 130 132 133 134 135 137 138 140 141 142 143 144 145 146
 147 148 149 150 151 153 154 155 157 158 159 160 161 162 163 164 165 166
 167 168 169 170 171 172 173 174 175 177 178 180 181 182 183 184 185 186
 187 188 189 190 192 193 194 195 196 197 198 199 200 201 202 203 204 205
 206 207 208 210 211 212 214 215 216 217 218 219 221 222 223 224 225 226
 228 229 231 232 233 234 235 236 237 238 239 240 241 242 243 244 247 248
 249 250 251 252 253 254 255 256 257 259 262 263 264 265 267 268 269 270
 271 272 273 274 275 276 277 278 280 281 282 283 284 285 286 287 289 290
 291 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309
 310 311 312 313 315 316 317 318 319 320 321 322 323 324 325 326 327 328
 329 330 331 332 333 335 336 337 338 339 340 341 342 343 344 345 346 347
 348 349 350 351 352 353 354 355 357 358 359 360 361 362 363 364 365 366
 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384
 386 387 388 389 390 391 392 394 395 396 397 398 399 400 401 402 403 404
 405 406 407 408 410 411 413 415 416 417 419 420 421 422 423 424 425 426
 427 428 429 430 431 432 433 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453]
test groups
Train groups X: ['no']
Test groups X: ['yes']

{0: {'Train': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
   0       MS   M   NaN       U     LE3       T     1     3   at_home  services
   4       GP   F  20.0       R     GT3       T     2     1     other     other
   16      MS   F  18.0       R     GT3       T     1     1   at_home   at_home
   21      GP   M  17.0     NaN     LE3       T     1     1     other  services
   22      GP   F  16.0     NaN     GT3       T     1     2     other     other
   34      GP   M  18.0       U     LE3       T     2     2  services  services
   47      GP   F  19.0       R     GT3       T     3     2  services  services
   56      GP   M  18.0       U     GT3       T     2     1  services  services
   58      GP   M  17.0       U     GT3       T     2     2     other     other
   61      GP   F  19.0       U     GT3       T     1     1     other     other
   72      MS   F  19.0       U     LE3       A     1     1   at_home     other
   79      MS   F  16.0       R     GT3       T     2     2     other     other
   84      MS   M   NaN       R     GT3       T     2     2     other     other
   103     MS   M  19.0       U     GT3       T     1     1     other     other
   118     GP   F  18.0       U     GT3       T     3     3     other     other
   123     MS   M  18.0       U     GT3       T     3     3   at_home   at_home
   126     GP   M  16.0       U     GT3       T     2     2     other     other
   128     MS   F  19.0       U     GT3       T     2     3   at_home  services
   131     MS   F  19.0       U     GT3       T     1     1   at_home  services
   136     MS   M  17.0       U     GT3       T     1     2     other     other
   139     MS   M  18.0       R     LE3       T     1     2   at_home  services
   152     GP   M  18.0       U     GT3       T     2     2     other  services
   156     GP   F  15.0       U     LE3       A     2     1   at_home     other
   176     MS   F  15.0       R     LE3       T     2     1   at_home     other
   179     MS   F  16.0       U     GT3       T     1     3   at_home     other
   191     MS   F  19.0       R     GT3       A     1     1   at_home   at_home
   209     MS   F  16.0       U     LE3       A     2     2   at_home     other
   213     GP   M  17.0       R     GT3       T     2     2     other  services
   220     GP   F  19.0       U     GT3       T     0     1   at_home     other
   227     MS   F  18.0       U     GT3       T     1     1   at_home  services
   230     MS   M  20.0       R     GT3       T     1     1     other     other
   245     GP   M  18.0       U     GT3       T     1     2   at_home     other
   246     GP   M  22.0       U     GT3       T     3     1  services  services
   258     MS   F  18.0       R     LE3       A     3     2     other     other
   260     MS   M  18.0       R     GT3       T     3     2  services     other
   261     MS   M  19.0       U     GT3       T     2     1   at_home     other
   266     MS   F  16.0       U     GT3       T     3     3     other     other
   279     MS   F  15.0       R     LE3       T     1     1   at_home     other
   288     GP   M  17.0       U     GT3       T     3     2  services  services
   292     MS   M  18.0       U     LE3       T     4     4   at_home    health
   314     GP   M  18.0       U     GT3       T     3     2  services     other
   334     MS   F  18.0       U     GT3       T     1     2   at_home   at_home
   356     MS   M  18.0       R     GT3       T     1     1     other     other
   385     GP   M  16.0       U     GT3       T     4     4   teacher   teacher
   393     MS   F  19.0       U     GT3       T     1     1   at_home  services
   409     MS   M  17.0       R     GT3       T     1     1     other  services
   412     GP   M  19.0       U     GT3       T     3     2  services   at_home
   414     MS   F  16.0       U     LE3       A     2     2     other     other
   418     MS   M  18.0       R     GT3       T     1     1  services     other
   434     GP   M  21.0       R     LE3       T     1     1   at_home     other

        ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
   0    ...     no      yes       yes       4         3     3    2    3      3
   4    ...     no      yes       yes       1         2     3    1    2      2
   16   ...     no      yes       yes       3         2     3    1    1      2
   21   ...     no       no       yes       5         3     5    1    5      5
   22   ...     no      yes        no       5         3     5    1    2      5
   34   ...     no      yes        no       4         4     4    1    3      3
   47   ...     no      yes        no       3         3     3    4    3      3
   56   ...     no      yes        no       3         2     5    2    5      5
   58   ...     no      yes        no       4         4     4    2    3      4
   61   ...     no       no       yes       1         5     5    4    3      5
   72   ...     no       no        no       1         4     4    1    1      5
   79   ...     no      yes        no       3         4     5    1    2      1
   84   ...     no       no       yes       5         5     5    3    5      5
   103  ...     no      yes        no       4         4     3    3    4      4
   118  ...     no      yes        no       4         1     1    1    1      3
   123  ...     no      yes        no       4         4     5    1    3      3
   126  ...     no      yes        no       4         3     5    2    4      4
   128  ...     no      yes       yes       4         4     4    1    1      2
   131  ...     no       no       yes       5         3     1    1    1      3
   136  ...     no      yes       yes       5         3     5    5    5      1
   139  ...     no      yes       yes       4         3     3    2    3      3
   152  ...     no      yes        no       5         5     4    3    5      2
   156  ...     no      yes       yes       4         4     2    1    1      5
   176  ...     no       no        no       1         3     4    1    1      1
   179  ...     no      yes       yes       4         3     3    1    3      5
   191  ...     no       no       yes       3         5     4    1    4      1
   209  ...     no       no       yes       1         2     1    1    1      1
   213  ...     no       no        no       5         2     2    1    1      4
   220  ...     no       no        no       3         4     2    1    1      5
   227  ...     no       no        no       4         4     2    1    2      2
   230  ...     no      yes       yes       4         4     3    2    4      4
   245  ...     no      yes        no       3         4     4    2    4      4
   246  ...     no      yes       yes       5         4     5    5    5      1
   258  ...     no       no       yes       3         3     2    1    1      2
   260  ...     no      yes        no       2         3     1    2    2      5
   261  ...     no      yes       yes       4         4     3    1    3      5
   266  ...     no      yes       yes       4         5     4    1    1      4
   279  ...     no       no       yes       5         2     1    1    3      4
   288  ...     no       no        no       4         5     2    1    1      2
   292  ...     no      yes       yes       5         5     5    5    5      5
   314  ...     no      yes        no       4         4     5    2    4      5
   334  ...     no       no        no       4         1     1    1    1      4
   356  ...     no      yes        no       4         4     3    3    4      4
   385  ...     no      yes       yes       3         3     2    2    1      5
   393  ...     no       no        no       5         5     5    2    3      2
   409  ...     no       no        no       4         2     3    3    4      4
   412  ...     no      yes       yes       4         5     4    1    1      4
   414  ...     no       no        no       4         3     4    1    2      1
   418  ...     no      yes       yes       5         3     3    2    3      5
   434  ...     no      yes       yes       5         3     3    5    2      4

       absences
   0          0
   4          8
   16         4
   21         0
   22         4
   34        11
   47         0
   56         4
   58         8
   61        12
   72         0
   79         1
   84         0
   103        2
   118       14
   123        9
   126        0
   128        0
   131        6
   136       12
   139        3
   152       16
   156        0
   176        0
   179       11
   191        0
   209        4
   213        0
   220        0
   227        2
   230       12
   245       10
   246       12
   258        6
   260        0
   261        4
   266        0
   279        0
   288       10
   292        2
   314        8
   334        0
   356        0
   385       16
   393        0
   409        4
   412        6
   414        6
   418        2
   434       21

   [50 rows x 30 columns],
        G3
   0     9
   4    12
   16   10
   21    8
   22   11
   34   12
   47   10
   56    6
   58    9
   61   11
   72    7
   79   11
   84   10
   103  10
   118   7
   123   8
   126  11
   128  10
   131   9
   136   7
   139  10
   152   8
   156  10
   176   9
   179  11
   191   0
   209  11
   213  10
   220  11
   227  10
   230  10
   245  11
   246   5
   258  10
   260   0
   261   9
   266  13
   279   9
   288   8
   292   6
   314   7
   334  12
   356  10
   385   8
   393   0
   409  14
   412  11
   414   8
   418   9
   434  10],
  'Test': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
   1       GP   M   NaN       R     LE3       T     3     3   teacher     other
   2       GP   M  15.0     NaN     GT3       T     3     4     other     other
   3       MS   M  17.0       R     GT3       T     4     3  services     other
   5       GP   F  17.0       U     GT3       T     2     3     other     other
   6       MS   F  18.0       U     GT3       T     3     3     other     other
   ..     ...  ..   ...     ...     ...     ...   ...   ...       ...       ...
   449     GP   M  15.0       U     GT3       T     4     2     other     other
   450     GP   F  15.0       U     GT3       T     2     2     other     other
   451     GP   M  16.0       U     GT3       T     4     4  services  services
   452     MS   F  15.0       R     LE3       T     1     1   at_home  services
   453     GP   M  15.0       U     GT3       T     4     4  services     other

        ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
   1    ...    yes      yes        no       3         3     4    3    5      3
   2    ...    yes      yes        no       5         5     1    1    1      5
   3    ...    yes      yes       yes       4         5     5    1    3      2
   5    ...    yes      yes       yes       4         2     1    1    1      3
   6    ...    yes      yes       yes       4         1     3    1    2      1
   ..   ...    ...      ...       ...     ...       ...   ...  ...  ...    ...
   449  ...    yes      yes        no       3         3     3    1    1      3
   450  ...    yes      yes        no       5         1     2    1    1      3
   451  ...    yes      yes        no       5         3     2    1    2      5
   452  ...    yes      yes        no       5         4     3    1    2      4
   453  ...    yes      yes        no       5         3     3    1    1      5

       absences
   1         16
   2          0
   3          4
   5          2
   6          1
   ..       ...
   449        0
   450        4
   451        4
   452        0
   453        2

   [404 rows x 30 columns],
        G3
   1    12
   2    13
   3    11
   5    14
   6    16
   ..   ..
   449  10
   450  10
   451  15
   452  10
   453  12

   [404 rows x 1 columns]]},
 1: {'Train': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
   0       MS   M   NaN       U     LE3       T     1     3   at_home  services
   4       GP   F  20.0       R     GT3       T     2     1     other     other
   16      MS   F  18.0       R     GT3       T     1     1   at_home   at_home
   21      GP   M  17.0     NaN     LE3       T     1     1     other  services
   22      GP   F  16.0     NaN     GT3       T     1     2     other     other
   34      GP   M  18.0       U     LE3       T     2     2  services  services
   47      GP   F  19.0       R     GT3       T     3     2  services  services
   56      GP   M  18.0       U     GT3       T     2     1  services  services
   58      GP   M  17.0       U     GT3       T     2     2     other     other
   61      GP   F  19.0       U     GT3       T     1     1     other     other
   72      MS   F  19.0       U     LE3       A     1     1   at_home     other
   79      MS   F  16.0       R     GT3       T     2     2     other     other
   84      MS   M   NaN       R     GT3       T     2     2     other     other
   103     MS   M  19.0       U     GT3       T     1     1     other     other
   118     GP   F  18.0       U     GT3       T     3     3     other     other
   123     MS   M  18.0       U     GT3       T     3     3   at_home   at_home
   126     GP   M  16.0       U     GT3       T     2     2     other     other
   128     MS   F  19.0       U     GT3       T     2     3   at_home  services
   131     MS   F  19.0       U     GT3       T     1     1   at_home  services
   136     MS   M  17.0       U     GT3       T     1     2     other     other
   139     MS   M  18.0       R     LE3       T     1     2   at_home  services
   152     GP   M  18.0       U     GT3       T     2     2     other  services
   156     GP   F  15.0       U     LE3       A     2     1   at_home     other
   176     MS   F  15.0       R     LE3       T     2     1   at_home     other
   179     MS   F  16.0       U     GT3       T     1     3   at_home     other
   191     MS   F  19.0       R     GT3       A     1     1   at_home   at_home
   209     MS   F  16.0       U     LE3       A     2     2   at_home     other
   213     GP   M  17.0       R     GT3       T     2     2     other  services
   220     GP   F  19.0       U     GT3       T     0     1   at_home     other
   227     MS   F  18.0       U     GT3       T     1     1   at_home  services
   230     MS   M  20.0       R     GT3       T     1     1     other     other
   245     GP   M  18.0       U     GT3       T     1     2   at_home     other
   246     GP   M  22.0       U     GT3       T     3     1  services  services
   258     MS   F  18.0       R     LE3       A     3     2     other     other
   260     MS   M  18.0       R     GT3       T     3     2  services     other
   261     MS   M  19.0       U     GT3       T     2     1   at_home     other
   266     MS   F  16.0       U     GT3       T     3     3     other     other
   279     MS   F  15.0       R     LE3       T     1     1   at_home     other
   288     GP   M  17.0       U     GT3       T     3     2  services  services
   292     MS   M  18.0       U     LE3       T     4     4   at_home    health
   314     GP   M  18.0       U     GT3       T     3     2  services     other
   334     MS   F  18.0       U     GT3       T     1     2   at_home   at_home
   356     MS   M  18.0       R     GT3       T     1     1     other     other
   385     GP   M  16.0       U     GT3       T     4     4   teacher   teacher
   393     MS   F  19.0       U     GT3       T     1     1   at_home  services
   409     MS   M  17.0       R     GT3       T     1     1     other  services
   412     GP   M  19.0       U     GT3       T     3     2  services   at_home
   414     MS   F  16.0       U     LE3       A     2     2     other     other
   418     MS   M  18.0       R     GT3       T     1     1  services     other
   434     GP   M  21.0       R     LE3       T     1     1   at_home     other

        ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
   0    ...     no      yes       yes       4         3     3    2    3      3
   4    ...     no      yes       yes       1         2     3    1    2      2
   16   ...     no      yes       yes       3         2     3    1    1      2
   21   ...     no       no       yes       5         3     5    1    5      5
   22   ...     no      yes        no       5         3     5    1    2      5
   34   ...     no      yes        no       4         4     4    1    3      3
   47   ...     no      yes        no       3         3     3    4    3      3
   56   ...     no      yes        no       3         2     5    2    5      5
   58   ...     no      yes        no       4         4     4    2    3      4
   61   ...     no       no       yes       1         5     5    4    3      5
   72   ...     no       no        no       1         4     4    1    1      5
   79   ...     no      yes        no       3         4     5    1    2      1
   84   ...     no       no       yes       5         5     5    3    5      5
   103  ...     no      yes        no       4         4     3    3    4      4
   118  ...     no      yes        no       4         1     1    1    1      3
   123  ...     no      yes        no       4         4     5    1    3      3
   126  ...     no      yes        no       4         3     5    2    4      4
   128  ...     no      yes       yes       4         4     4    1    1      2
   131  ...     no       no       yes       5         3     1    1    1      3
   136  ...     no      yes       yes       5         3     5    5    5      1
   139  ...     no      yes       yes       4         3     3    2    3      3
   152  ...     no      yes        no       5         5     4    3    5      2
   156  ...     no      yes       yes       4         4     2    1    1      5
   176  ...     no       no        no       1         3     4    1    1      1
   179  ...     no      yes       yes       4         3     3    1    3      5
   191  ...     no       no       yes       3         5     4    1    4      1
   209  ...     no       no       yes       1         2     1    1    1      1
   213  ...     no       no        no       5         2     2    1    1      4
   220  ...     no       no        no       3         4     2    1    1      5
   227  ...     no       no        no       4         4     2    1    2      2
   230  ...     no      yes       yes       4         4     3    2    4      4
   245  ...     no      yes        no       3         4     4    2    4      4
   246  ...     no      yes       yes       5         4     5    5    5      1
   258  ...     no       no       yes       3         3     2    1    1      2
   260  ...     no      yes        no       2         3     1    2    2      5
   261  ...     no      yes       yes       4         4     3    1    3      5
   266  ...     no      yes       yes       4         5     4    1    1      4
   279  ...     no       no       yes       5         2     1    1    3      4
   288  ...     no       no        no       4         5     2    1    1      2
   292  ...     no      yes       yes       5         5     5    5    5      5
   314  ...     no      yes        no       4         4     5    2    4      5
   334  ...     no       no        no       4         1     1    1    1      4
   356  ...     no      yes        no       4         4     3    3    4      4
   385  ...     no      yes       yes       3         3     2    2    1      5
   393  ...     no       no        no       5         5     5    2    3      2
   409  ...     no       no        no       4         2     3    3    4      4
   412  ...     no      yes       yes       4         5     4    1    1      4
   414  ...     no       no        no       4         3     4    1    2      1
   418  ...     no      yes       yes       5         3     3    2    3      5
   434  ...     no      yes       yes       5         3     3    5    2      4

       absences

## Разделите данные и объясните выбор стратегии

In [45]:
default_cv = ShuffleSplit(n_splits=5)
group_cv = GroupShuffleSplit(n_splits=2)

design, target = X_train.loc[:, X_train.columns != 'G3'], X_train['G3']
group = design["higher"]

cv_indexes = {"shuffle": {}, "group": {}}
for i, (train_index, test_index) in enumerate(default_cv.split(X_train)):
    cv_indexes["shuffle"][i] = {
        "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
        "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
    }

for i, (train_index, test_index) in enumerate(cv_folds.split(design, target, groups = group)):
    cv_indexes["group"][i] = {
        "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
        "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
    }

cv_indexes

{'shuffle': {0: {'Train': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
    154     GP   F  17.0       U     LE3       T     3     2     other     other
    96      GP   M  15.0       U     LE3       T     4     4    health  services
    163     MS   M  16.0       R     LE3       T     4     1     other   at_home
    319     MS   M  16.0       U     LE3       T     2     2  services  services
    135     MS   F  18.0       U     GT3       T     1     2     other     other
    ..     ...  ..   ...     ...     ...     ...   ...   ...       ...       ...
    233     GP   F  17.0       U     GT3       T     4     2     other     other
    311     GP   M  16.0       U     GT3       T     4     4   teacher   teacher
    375     GP   F   NaN       U     GT3       T     1     1     other     other
    214     GP   F  15.0       U     GT3       A     3     3  services  services
    401     GP   D  17.0       U     LE3       A     3     3  services     other

         ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
    154  ...    yes      yes        no       4         4     4    1    3      1
    96   ...    yes      yes        no       4         3     3    1    3      5
    163  ...    yes      yes        no       4         1     2    2    1      2
    319  ...    yes       no        no       5         1     3    2    2      3
    135  ...    yes      yes       yes       3         4     4    2    3      5
    ..   ...    ...      ...       ...     ...       ...   ...  ...  ...    ...
    233  ...    yes      yes        no       4         3     3    1    1      3
    311  ...    yes      yes        no       5         4     4    1    2      5
    375  ...    yes       no        no       4         4     4    1    3      1
    214  ...    yes       no       yes       1         3     2    2    3      1
    401  ...    yes      yes        no       5         3     3    1    1      5

        absences
    154        2
    96         0
    163        0
    319        0
    135        9
    ..       ...
    233        0
    311        6
    375        0
    214       24
    401        0

    [408 rows x 30 columns],
         G3
    154  15
    96   12
    163  11
    319  10
    135   8
    ..   ..
    233  16
    311  14
    375  15
    214   9
    401  13

    [408 rows x 1 columns]],
   'Test': [    school sex    age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
    13      GP   M   17.0       U     GT3       T     2     3     other     other
    33      MS   M   17.0       U     LE3       T     3     1  services  services
    74      GP   F   17.0       R     LE3       T     3     1  services     other
    312     GP   F   15.0       U     GT3       T     1     2   at_home  services
    133     GP   F   15.0       U     LE3       A     4     3     other     other
    97      GP   F   16.0       U     GT3       T     2     2  services  services
    20      MS   F    NaN       R     GT3       T     2     3   at_home  services
    257     MS   M   16.0       U     LE3       T     4     3     other     other
    365     GP   M    NaN       R     GT3       T     4     4   teacher   teacher
    431     GP   M   16.0       U     GT3       T     2     1     other     other
    8       GP   F   15.0       U     GT3       T     1     1     other     other
    300     MS   F   18.0       R     GT3       T     1     1   at_home     other
    262     MS   M   18.0       R     GT3       T     4     2     other     other
    268     GP   F   18.0       U     LE3       T     4     3     other     other
    358     GP   F   18.0       U     LE3       A     2     1     other     other
    337     MS   F   15.0       R     GT3       T     1     1   at_home     other
    222     GP   M   17.0       U     GT3       T     3     1  services     other
    290     MS   M   18.0       R     GT3       T     1     0   at_home   at_home
    200     GP   F   15.0       U     GT3       T     4     4  services   at_home
    138     GP   M    NaN       U     GT3       T     4     2   teacher     other
    189     MS   M   16.0       R     GT3       T     1     1   at_home     other
    409     MS   M   17.0       R     GT3       T     1     1     other  services
    198     MS   F   16.0       U     GT3       T     1     2     other  services
    366     MS   F   18.0       R     GT3       T     1     1     other     other
    447     MS   F   17.0       R     GT3       T     4     4   teacher  services
    60      GP   F   16.0       R     GT3       T     1     1     other  services
    412     GP   M   19.0       U     GT3       T     3     2  services   at_home
    380     MS   D   16.0       R     GT3       T     1     1   at_home     other
    64      MS   F   17.0       R     GT3       T     3     2   at_home     other
    168     GP   F   17.0       U     GT3       T     3     3   at_home     other
    126     GP   M   16.0       U     GT3       T     2     2     other     other
    335     GP   F   15.0       R     GT3       T     1     1   at_home     other
    106     GP   F  151.0       U     LE3       A     3     4     other     other
    34      GP   M   18.0       U     LE3       T     2     2  services  services
    251     GP   F   16.0       U     GT3       T     4     4    health    health
    116     GP   F   16.0       U     GT3       T     3     3     other     other
    191     MS   F   19.0       R     GT3       A     1     1   at_home   at_home
    224     GP   M   20.0       U     GT3       A     3     2  services     other
    405     GP   F   18.0       U     LE3       A     4     4    health     other
    40      GP   M   15.0       U     LE3       T     3     3     other     other
    16      MS   F   18.0       R     GT3       T     1     1   at_home   at_home
    255     GP   M   17.0       U     GT3       T     4     4   teacher   teacher
    175     GP   F   17.0       U     GT3       A     4     3  services  services
    406     GP   M   17.0       U     LE3       T     2     3  services  services
    136     MS   M   17.0       U     GT3       T     1     2     other     other
    201     GP   F   18.0       U     LE3       A     2     4  services     other

         ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
    13   ...    yes      yes        no       5         2     2    1    1      2
    33   ...    yes      yes        no       2         4     5    3    4      2
    74   ...    yes       no        no       3         1     2    1    1      3
    312  ...    yes      yes        no       3         2     3    1    2      1
    133  ...    yes      yes       yes       5         2     2    1    1      5
    97   ...    yes      yes        no       1         2     2    1    3      5
    20   ...    yes      yes        no       3         3     3    1    1      2
    257  ...    yes      yes        no       4         2     5    1    5      5
    365  ...    yes      yes        no       3         5     5    2    5      4
    431  ...    yes      yes        no       4         3     3    1    1      4
    8    ...    yes      yes        no       4         3     2    2    3      4
    300  ...    yes      yes       yes       4         3     2    1    1      5
    262  ...    yes       no        no       5         4     3    4    3      3
    268  ...    yes      yes       yes       4         4     5    1    2      2
    358  ...    yes      yes       yes       4         3     4    1    3      5
    337  ...    yes      yes        no       4         3     3    1    1      2
    222  ...    yes      yes       yes       5         4     4    3    4      5
    290  ...    yes       no        no       4         3     2    1    1      4
    200  ...    yes      yes       yes       4         3     3    1    1      5
    138  ...    yes       no        no       4         3     3    2    2      5
    189  ...    yes       no        no       3         4     4    3    4      5
    409  ...     no       no        no       4         2     3    3    4      4
    198  ...    yes       no        no       1         3     2    1    2      4
    366  ...    yes      yes        no       4         3     2    1    2      4
    447  ...    yes      yes        no       4         3     3    1    2      5
    60   ...    yes       no       yes       3         3     3    1    2      1
    412  ...     no      yes       yes       4         5     4    1    1      4
    380  ...    yes      yes       yes       4         2     2    4    3      2
    64   ...    yes       no       yes       4         5     4    1    2      5
    168  ...    yes      yes        no       4         2     5    2    5      5
    126  ...     no      yes        no       4         3     5    2    4      4
    335  ...    yes      yes        no       3         1     2    1    1      1
    106  ...    yes      yes       yes       5         3     2    1    1      1
    34   ...     no      yes        no       4         4     4    1    3      3
    251  ...    yes      yes       yes       4         4     2    1    1      3
    116  ...    yes       no        no       5         3     2    1    1      4
    191  ...     no       no       yes       3         5     4    1    4      1
    224  ...    yes       no        no       5         5     3    1    1      5
    405  ...    yes      yes       yes       4         2     4    1    1      4
    40   ...    yes      yes        no       5         3     2    1    1      2
    16   ...     no      yes       yes       3         2     3    1    1      2
    255  ...    yes      yes       yes       4         5     5    1    3      2
    175  ...    yes      yes       yes       5         2     2    1    2      5
    406  ...    yes      yes        no       5         3     3    1    3      3
    136  ...     no      yes       yes       5         3     5    5    5      1
    201  ...    yes      yes        no       4         3     3    1    1      3

        absences
    13         2
    33         6
    74         0
    312        0
    133        4
    97         6
    20         0
    257        8
    365        8
    431        7
    8          2
    300        9
    262        0
    268        0
    358        2
    337        1
    222        0
    290        0
    200        4
    138        4
    189        6
    409        4
    198        0
    366        4
    447        2
    60         8
    412        6
    380        0
    64         0
    168        2
    126        0
    335        4
    106        0
    34        11
    251        0
    116        2
    191        0
    224        0
    405        0
    40         0
    16         4
    255        0
    175       14
    406        0
    136       12
    201       18

    [46 rows x 30 columns],
         G3
    13   13
    33   10
    74   19
    312  14
    133  11
    97   12
    20   10
    257  13
    365  15
    431  16
    8    12
    300   7
    262   0
    268  14
    358  13
    337  11
    222  14
    290  13
    200  15
    138  13
    189  11
    409  14
    198   8
    366  12
    447  12
    60   11
    412  11
    380  14
    64   10
    168  11
    126  11
    335  13
    106  11
    34   12
    251  17
    116  14
    191   0
    224  15
    405  15
    40   12
    16   10
    255  13
    175  17
    406  11
    136   7
    201  10]},
  1: {'Train': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
    264     GP   F  17.0       U     GT3       T     4     3    health     other
    373     GP   M   NaN       R     GT3       T     2     2  services     other
    81      GP   M  15.0       U     GT3       T     4     3   teacher  services
    230     MS   M  20.0       R     GT3       T     1     1     other     other
    429     MS   F  16.0       R     GT3       T     1     1   at_home     other
    ..     ...  ..   ...     ...     ...     ...   ...   ...       ...       ...
    341     GP   F  17.0       U     GT3       A     2     2   at_home   at_home
    115     GP   M  18.0       R     LE3       T     3     3     other  services
    371     GP   F   NaN       U     LE3       T     2     2     other     other
    150     GP   M  15.0       U     GT3       T     2     2     other     other
    161     MS   M  16.0       R     GT3       T     1     2     other     other

         ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
    264  ...    yes      yes       yes       4         4     3    1    3      4
    373  ...    yes      yes        no       4         4     5    5    5      4
    81   ...    yes      yes        no       2         2     2    1    1      3
    230  ...     no      yes       yes       4         4     3    2    4      4
    429  ...    yes       no        no       4         4     3    1    1      5
    ..   ...    ...      ...       ...     ...       ...   ...  ...  ...    ...
    341  ...    yes      yes       yes       3         3     1    1    2      4
    115  ...    yes      yes       yes       4         3     3    1    3      5
    371  ...    yes      yes       yes       3         3     3    1    2      3
    150  ...    yes      yes        no       4         2     2    1    2      5
    161  ...    yes       no        no       4         3     3    1    1      5

        absences
    264        0
    373        2
    81         6
    230       12
    429        2
    ..       ...
    341       18
    115        8
    371       16
    150        8
    161        0

    [408 rows x 30 columns],
         G3
    264  13
    373  10
    81   11
    230  10
    429  10
    ..   ..
    341  14
    115  10
    371  10
    150  12
    161  11

    [408 rows x 1 columns]],
   'Test': [    school sex    age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
    69      MS   M    NaN       R     LE3       T     3     2  services     other
    145     GP   M   16.0       U     GT3       T     3     3   at_home     other
    436     GP   F   18.0       U     GT3       T     4     3     other     other
    330     GP   F   15.0       U     GT3       T     2     3     other     other
    85      GP   M    NaN       U     GT3       T     1     0     other     other
    404     MS   M   16.0       R     GT3       T     3     2  services     other
    92      MS   F   16.0       R     GT3       T     4     4    health   teacher
    355     GP   F   17.0       U     GT3       T     4     3     other     other
    252     GP   F   17.0       U     GT3       A     3     3    health     other
    278     GP   M   16.0       U     GT3       T     4     4  services  services
    443     GP   F   18.0       U     GT3       T     2     1     other     other
    340     GP   F   17.0       U     GT3       T     3     2     other     other
    349     GP   M   16.0       U     GT3       T     4     3    health  services
    384     GP   M   16.0       U     LE3       T     2     1     other     other
    35      GP   M   16.0       U     GT3       T     2     2  services     other
    15      MS   F   17.0       R     GT3       T     2     2   at_home     other
    12      GP   F   17.0       U     GT3       T     2     4  services  services
    366     MS   F   18.0       R     GT3       T     1     1     other     other
    140     MS   F   17.0       U     GT3       T     3     3  services  services
    187     MS   F   18.0       U     GT3       T     2     3   at_home  services
    214     GP   F   15.0       U     GT3       A     3     3  services  services
    117     GP   F   17.0       R     GT3       T     4     4   teacher   teacher
    114     GP   F   16.0       U     GT3       T     1     1   at_home     other
    41      GP   F   18.0       U     GT3       A     4     4   at_home   teacher
    132     GP   M   16.0       U     LE3       T     4     3  services     other
    179     MS   F   16.0       U     GT3       T     1     3   at_home     other
    302     GP   F   17.0       U     LE3       T     2     2  services     other
    137     GP   F   16.0       U     GT3       T     4     4  services  services
    134     MS   F   16.0       R     GT3       T     2     2     other     other
    68      GP   M  161.0       U     GT3       T     3     3  services     other
    408     GP   F   18.0       U     GT3       T     2     1     other     other
    135     MS   F   18.0       U     GT3       T     1     2     other     other
    441     GP   F   15.0       U     GT3       T     4     2     other     other
    87      MS   F   17.0       R     GT3       T     2     2   at_home     other
    311     GP   M   16.0       U     GT3       T     4     4   teacher   teacher
    410     GP   M   18.0       U     GT3       T     2     2     other     other
    105     GP   F   16.0       U     LE3       T     1     1   at_home   at_home
    203     MS   F   16.0       R     LE3       T     1     2     other     other
    231     GP   F   15.0       U     GT3       T     4     4   teacher   teacher
    205     GP   M   18.0       U     LE3       T     4     4     other     other
    268     GP   F   18.0       U     LE3       T     4     3     other     other
    139     MS   M   18.0       R     LE3       T     1     2   at_home  services
    141     GP   F   15.0       U     GT3       T     4     2    health  services
    338     MS   M   18.0       R     GT3       T     4     4   at_home  services
    195     GP   F   21.0       U     LE3       T     4     4     other     other
    100     GP   F   20.0       R     GT3       T     1     1     other     other

         ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
    69   ...    yes      yes        no       4         4     1    3    4      5
    145  ...    yes      yes        no       5         3     3    1    3      2
    436  ...    yes      yes        no       4         3     3    1    1      3
    330  ...    yes       no        no       3         5     1    1    1      5
    85   ...    yes      yes       yes       4         3     2    1    1      3
    404  ...    yes      yes        no       4         5     5    2    3      5
    92   ...    yes      yes       yes       4         3     3    2    3      2
    355  ...    yes      yes       yes       3         4     5    2    4      1
    252  ...    yes      yes       yes       3         3     3    1    3      3
    278  ...    yes      yes        no       4         5     5    5    5      4
    443  ...    yes      yes       yes       4         3     1    1    1      5
    340  ...    yes      yes       yes       4         3     2    2    3      2
    349  ...    yes      yes        no       4         2     2    1    1      2
    384  ...    yes      yes       yes       4         2     3    1    2      5
    35   ...    yes      yes        no       4         4     2    1    1      3
    15   ...    yes      yes        no       5         1     3    1    2      5
    12   ...    yes       no        no       5         4     2    2    3      5
    366  ...    yes      yes        no       4         3     2    1    2      4
    140  ...    yes      yes        no       4         4     3    1    1      4
    187  ...    yes      yes       yes       5         2     3    1    2      4
    214  ...    yes       no       yes       1         3     2    2    3      1
    117  ...    yes      yes        no       4         4     4    1    1      5
    114  ...    yes       no        no       4         3     2    1    4      5
    41   ...    yes       no        no       4         3     4    1    1      3
    132  ...    yes      yes        no       5         4     2    1    2      5
    179  ...     no      yes       yes       4         3     3    1    3      5
    302  ...    yes      yes       yes       4         4     4    2    3      5
    137  ...    yes      yes        no       3         2     3    1    2      2

__Ваш ответ:__ лучше бить по дефолту через _StratifiedShuffleSplit_ для классификации, тк мы не знаем, обьединены ли данные одной природой, чтобы использовать GroupFold, и лучше перемешать данные для генерации независимой выборки, а так сохранится доля классов в test train и будет сохраняться распределение классов. 

Данную задачу можно рассматривать и как регрессию, и как классификацию. Для регрессии сложно взять Stratified тк нету деления по классам, поэтому лучше выбрать _ShuffleSplit_

Если в данных есть какая-то группировка по природе объектов - лучше использовать Group strategy. Возможно объекты сгруппированы по Fedu, higher и studytime (высокая корреляция с G3). Поэтому можно сделать группы с высшим образованием (_higher_ - бинарный признак, лекго делить)

__Вывод:__ Стоит попробовать Group Shuffle на higher и либо StratifiedShuffleSplit (если рассматривать как классификацию), либо ShuffleSplit (если как регрессию)

# Часть 4. Заполнение пропусков в данных

## Фильтрация по диапазону значений 

Проверьте, что все характеристики принадлежат тому диапазону значений, который приведен в описании к исходным данным. Например, если в графе "Пол" есть значение FF, P или -1, то это явная ошибка заполнения.

Приведите данные в соответствии с описанием данных. Если значение указано неверно - укажите ```NaN```.

In [46]:
for column_name in list(X_train.columns):
    print(f"Column '{column_name}':\n\tUnique values: {list(X_train[column_name].unique())}\tCount: {len(X_train[column_name].unique())}")

Column 'school':
	Unique values: ['MS', 'GP']	Count: 2
Column 'sex':
	Unique values: ['M', 'F', 'D', 'C', 'B', 'A']	Count: 6
Column 'age':
	Unique values: [nan, 15.0, 17.0, 20.0, 18.0, 16.0, 19.0, 161.0, 181.0, 151.0, 116.0, 21.0, 22.0, -1.0, 1.0, 5.0, 8.0]	Count: 17
Column 'address':
	Unique values: ['U', 'R', nan]	Count: 3
Column 'famsize':
	Unique values: ['LE3', 'GT3']	Count: 2
Column 'Pstatus':
	Unique values: ['T', 'A']	Count: 2
Column 'Medu':
	Unique values: [1, 3, 4, 2, 0]	Count: 5
Column 'Fedu':
	Unique values: [3, 4, 1, 2, 0]	Count: 5
Column 'Mjob':
	Unique values: ['at_home', 'teacher', 'other', 'services', 'health']	Count: 5
Column 'Fjob':
	Unique values: ['services', 'other', 'at_home', 'teacher', 'health']	Count: 5
Column 'reason':
	Unique values: ['course', 'home', 'reputation', 'other']	Count: 4
Column 'guardian':
	Unique values: ['mother', 'father', 'other']	Count: 3
Column 'traveltime':
	Unique values: [1, 3, 2, 4]	Count: 4
Column 'studytime':
	Unique values: [1, 2, 3, 4]	Count: 4
Column 'failures':
	Unique values: [0, 1, 2, 3]	Count: 4
Column 'schoolsup':
	Unique values: ['no', 'yes']	Count: 2
Column 'famsup':
	Unique values: ['no', 'yes']	Count: 2
Column 'paid':
	Unique values: ['no', 'yes']	Count: 2
Column 'activities':
	Unique values: ['no', 'yes']	Count: 2
Column 'nursery':
	Unique values: ['yes', 'no']	Count: 2
Column 'higher':
	Unique values: ['no', 'yes']	Count: 2
Column 'internet':
	Unique values: ['yes', 'no']	Count: 2
Column 'romantic':
	Unique values: ['yes', 'no']	Count: 2
Column 'famrel':
	Unique values: [4, 3, 5, 1, 2]	Count: 5
Column 'freetime':
	Unique values: [3, 5, 2, 1, 4]	Count: 5
Column 'goout':
	Unique values: [3, 4, 1, 5, 2]	Count: 5
Column 'Dalc':
	Unique values: [2, 3, 1, 5, 4]	Count: 5
Column 'Walc':
	Unique values: [3, 5, 1, 2, 4]	Count: 5
Column 'health':
	Unique values: [3, 5, 2, 1, 4]	Count: 5
Column 'absences':
	Unique values: [0, 16, 4, 8, 2, 1, 9, 6, 5, 11, 3, 10, 12, 14, 18, 15, 24, 22, 32, 21, 13, 7]	Count: 22
Column 'G3':
	Unique values: [9, 12, 13, 11, 14, 16, 10, 17, 8, 15, 0, 6, 7, 19, 18, 1, 5]	Count: 17

__Misvalues columns__: sex, age

In [55]:
# sex
if len(X_train["sex"].unique()) > 2:
    odd_values = list(X_train["sex"].unique())
    odd_values.remove("M")
    odd_values.remove("F")
    for odd_sex in odd_values:
        X_train["sex"] = X_train["sex"].replace(odd_sex, np.nan)

# age
X_train.loc[(X_train['age'] > 22) | (X_train['age'] < 15), 'age'] = np.nan

## Адаптивное заполнения пропусков 

Реализуйте стратегию заполнения пропусков данных на основе схожих примеров. Обучите один из известных вам алгоритмов (knn, Naive Bayes, linear regression) для предсказания той характеристики, пропуски которой присутсвуют в данных. В качестве характеристики для обучения алгоритмов __нельзя__ использовать ```G3```.

In [57]:
design = X_train.loc[:, X_train.columns != "G3"]

knn for age &#x1F914;

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

design_train = design.loc[:, design.columns != "age"]
design_target = design['age']

knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(design_train, design_target)

Naive Bayes for sex &#x1F609;

In [ ]:
from sklearn.naive_bayes import GaussianNB

design_train = design.loc[:, design.columns != "sex"]
design_target = design['sex']