# Домашнее задание № 1

Вам необходимо выбор стратегии валидации и обработку данных от ошибок заполнения.

# Часть 3. Стратегия валидации

Итак, у вас есть данные для обучения и данные, на которых необходимо сделать предсказание. Для оценки точности необходимо проводить валидацию (так как мало данных, можно проводить кросс валидацию).
Валидацию проще всего реализовать методами sklearn, например:
- KFold
- ShuffleSplit
- StratifiedKFold
- StratifiedShuffleSplit
- GroupKFold
- GroupShuffleSplit

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
from sklearn.model_selection import KFold, ShuffleSplit, StratifiedKFold, StratifiedShuffleSplit, GroupKFold, GroupShuffleSplit

In [2]:
X_train = pd.read_csv('train_features_with_answers.csv')
X_train.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,MS,M,NaN,U,LE3,T,1,3,at_home,services,...,yes,yes,4,3,3,2,3,3,0,9
1,GP,M,NaN,R,LE3,T,3,3,teacher,other,...,yes,no,3,3,4,3,5,3,16,12
2,GP,M,15.0,NaN,GT3,T,3,4,other,other,...,yes,no,5,5,1,1,1,5,0,13
3,MS,M,17.0,R,GT3,T,4,3,services,other,...,yes,yes,4,5,5,1,3,2,4,11
4,GP,F,20.0,R,GT3,T,2,1,other,other,...,yes,yes,1,2,3,1,2,2,8,12

#### Примеры разбиений (раскомментить нужную строку для стратегии)

In [3]:
# CV strategy

# cv_folds = KFold(n_splits=5)
# cv_folds = ShuffleSplit(n_splits=5)
# cv_folds = StratifiedKFold(n_splits=5)
cv_folds = StratifiedShuffleSplit(n_splits=5)
# cv_folds = GroupKFold(n_splits=2)
# cv_folds = GroupShuffleSplit(n_splits=2)
'Group' not in type(cv_folds).__name__

True

In [4]:
# CV example
fold_collection = {}
# base
if 'Stratified' not in type(cv_folds).__name__ and 'Group' not in type(cv_folds).__name__:
    for i, (train_index, test_index) in enumerate(cv_folds.split(X_train)):
        print(f"Fold {i}:")
        print(f"  Train: index={train_index}")
        print(f"  Test:  index={test_index}")
        fold_collection[i] = {
            "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
            "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
        }


# stratified
if 'Stratified' in type(cv_folds).__name__:
    design, target = X_train.loc[:, X_train.columns != 'G3'], X_train['G3']
    for i, (train_index, test_index) in enumerate(cv_folds.split(design, target)):
        print(f"Fold {i}:")
        print(f"  Train: index={train_index}")
        print(f"  Test:  index={test_index}")
        fold_collection[i] = {
            "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
            "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
        }

        print('train -  {}   |   test -  {}'.format(np.bincount(target[train_index]), np.bincount(target[test_index])))
        
# group
if 'Group' in type(cv_folds).__name__:
    design, target = X_train.loc[:, X_train.columns != 'G3'], X_train['G3']
    group = design["higher"]
    for i, (train_index, test_index) in enumerate(cv_folds.split(design, target, groups = group)):
        print(f"Fold {i}:")
        print(f"  Train: index={train_index}")
        print(f"  Test:  index={test_index}")

        print("test groups")
        print(f"Train groups X: {list(X_train.loc[:, X_train.columns != 'G3'].iloc[train_index]['higher'].unique())}")
        print(f"Test groups X: {list(X_train.loc[:, X_train.columns != 'G3'].iloc[test_index]['higher'].unique())}")
        fold_collection[i] = {
            "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
            "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
        }

fold_collection

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

## Разделите данные и объясните выбор стратегии

In [5]:
default_cv = ShuffleSplit(n_splits=5)
group_cv = GroupShuffleSplit(n_splits=2)

design, target = X_train.loc[:, X_train.columns != 'G3'], X_train['G3']
group = design["higher"]

cv_indexes = {"shuffle": {}, "group": {}}
for i, (train_index, test_index) in enumerate(default_cv.split(X_train)):
    cv_indexes["shuffle"][i] = {
        "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
        "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
    }

for i, (train_index, test_index) in enumerate(cv_folds.split(design, target, groups = group)):
    cv_indexes["group"][i] = {
        "Train": [X_train.loc[:, X_train.columns != 'G3'].iloc[train_index], X_train.loc[:, X_train.columns == 'G3'].iloc[train_index]],
        "Test": [X_train.loc[:, X_train.columns != 'G3'].iloc[test_index], X_train.loc[:, X_train.columns == 'G3'].iloc[test_index]],
    }

cv_indexes

{'shuffle': {0: {'Train': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
    99      GP   M  17.0       R     LE3       T     1     2     other     other
    4       GP   F  20.0       R     GT3       T     2     1     other     other
    450     GP   F  15.0       U     GT3       T     2     2     other     other
    57      GP   M  17.0       U     GT3       T     3     2  services  services
    248     GP   F  18.0       U     LE3       T     2     2   at_home  services
    ..     ...  ..   ...     ...     ...     ...   ...   ...       ...       ...
    423     GP   M  15.0       U     LE3       T     1     2     other   at_home
    351     GP   M  16.0       U     GT3       T     1     2  services  services
    259     MS   F   1.0       R     LE3       T     2     2     other     other
    424     MS   M  15.0       R     LE3       T     1     3   at_home     other
    81      GP   M  15.0       U     GT3       T     4     3   teacher  services

         ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
    99   ...    yes       no        no       2         2     2    3    3      5
    4    ...     no      yes       yes       1         2     3    1    2      2
    450  ...    yes      yes        no       5         1     2    1    1      3
    57   ...    yes      yes        no       5         5     5    2    4      5
    248  ...    yes      yes       yes       5         3     1    1    1      5
    ..   ...    ...      ...       ...     ...       ...   ...  ...  ...    ...
    423  ...    yes      yes        no       4         3     2    1    1      5
    351  ...    yes      yes       yes       3         3     3    1    2      3
    259  ...    yes       no       yes       4         3     3    2    2      5
    424  ...    yes      yes        no       4         2     4    3    5      3
    81   ...    yes      yes        no       2         2     2    1    1      3

        absences
    99        14
    4          8
    450        4
    57         2
    248       16
    ..       ...
    423        0
    351        0
    259        2
    424        2
    81         6

    [408 rows x 30 columns],
         G3
    99   10
    4    12
    450  10
    57    7
    248  10
    ..   ..
    423  14
    351  11
    259  11
    424  11
    81   11

    [408 rows x 1 columns]],
   'Test': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
    33      MS   M  17.0       U     LE3       T     3     1  services  services
    54      GP   F  16.0       U     GT3       T     2     2     other     other
    292     MS   M  18.0       U     LE3       T     4     4   at_home    health
    405     GP   F  18.0       U     LE3       A     4     4    health     other
    274     GP   M   NaN       U     LE3       T     4     4   teacher     other
    131     MS   F  19.0       U     GT3       T     1     1   at_home  services
    112     GP   M  15.0       U     GT3       T     4     4   teacher    health
    308     GP   F  17.0       U     GT3       T     3     2     other     other
    19      GP   M  16.0       U     GT3       T     3     4     other     other
    98      MS   F  16.0       R     GT3       T     2     3     other  services
    440     GP   F  17.0       U     GT3       T     2     2     other     other
    163     MS   M  16.0       R     LE3       T     4     1     other   at_home
    282     GP   F  18.0       R     GT3       T     2     2     other     other
    168     GP   F  17.0       U     GT3       T     3     3   at_home     other
    181     GP   M  18.0       U     LE3       T     3     4  services     other
    230     MS   M  20.0       R     GT3       T     1     1     other     other
    118     GP   F  18.0       U     GT3       T     3     3     other     other
    399     MS   D  16.0       R     GT3       T     2     3   at_home  services
    309     GP   F  17.0       U     GT3       T     2     3   at_home     other
    426     GP   F  16.0       U     GT3       A     4     1     other     other
    77      MS   M  19.0       R     GT3       T     1     1     other  services
    339     GP   M  17.0       U     GT3       T     1     2   at_home  services
    149     GP   M  17.0       U     LE3       T     4     4  services     other
    76      MS   F  19.0       R     GT3       T     1     1   at_home     other
    48      GP   M  16.0       U     LE3       T     4     2   teacher     other
    375     GP   F   NaN       U     GT3       T     1     1     other     other
    260     MS   M  18.0       R     GT3       T     3     2  services     other
    237     MS   F  17.0       U     GT3       T     4     4    health    health
    261     MS   M  19.0       U     GT3       T     2     1   at_home     other
    272     MS   F  18.0       R     LE3       T     2     2  services  services
    414     MS   F  16.0       U     LE3       A     2     2     other     other
    26      GP   F  16.0       U     LE3       T     3     1     other     other
    394     MS   M  18.0       U     LE3       T     1     1   at_home   at_home
    215     GP   F  17.0       U     LE3       A     4     2   teacher     other
    442     MS   F  16.0       R     GT3       T     1     1     other     other
    226     GP   M  16.0       U     LE3       T     1     1  services     other
    367     MS   F  16.0       U     LE3       T     1     1   at_home     other
    330     GP   F  15.0       U     GT3       T     2     3     other     other
    111     GP   M  16.0       U     LE3       T     1     2    health  services
    20      MS   F   NaN       R     GT3       T     2     3   at_home  services
    201     GP   F  18.0       U     LE3       A     2     4  services     other
    446     GP   M  15.0       U     GT3       T     2     2  services  services
    15      MS   F  17.0       R     GT3       T     2     2   at_home     other
    438     GP   F  15.0       R     GT3       T     3     4  services   teacher
    256     GP   F  19.0       U     GT3       T     4     4   teacher     other
    410     GP   M  18.0       U     GT3       T     2     2     other     other

         ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
    33   ...    yes      yes        no       2         4     5    3    4      2
    54   ...    yes      yes        no       5         1     5    1    1      4
    292  ...     no      yes       yes       5         5     5    5    5      5
    405  ...    yes      yes       yes       4         2     4    1    1      4
    274  ...    yes      yes        no       4         4     4    1    3      5
    131  ...     no       no       yes       5         3     1    1    1      3
    112  ...    yes       no        no       3         2     2    1    1      5
    308  ...    yes       no        no       5         4     2    1    1      3
    19   ...    yes      yes        no       3         4     5    2    4      2
    98   ...    yes      yes        no       4         5     4    1    2      1
    440  ...    yes       no       yes       4         2     2    1    1      3
    163  ...    yes      yes        no       4         1     2    2    1      2
    282  ...    yes       no        no       3         2     3    1    1      5
    168  ...    yes      yes        no       4         2     5    2    5      5
    181  ...    yes      yes       yes       4         3     3    1    3      5
    230  ...     no      yes       yes       4         4     3    2    4      4
    118  ...     no      yes        no       4         1     1    1    1      3
    399  ...    yes       no        no       4         5     2    1    2      5
    309  ...    yes       no        no       3         3     3    1    4      3
    426  ...    yes      yes       yes       5         3     3    1    2      5
    77   ...    yes      yes        no       5         4     4    3    3      2
    339  ...    yes      yes        no       4         4     4    4    5      5
    149  ...    yes      yes       yes       5         3     5    4    5      3
    76   ...    yes      yes       yes       4         3     3    1    1      3
    48   ...    yes      yes        no       4         5     1    1    3      5
    375  ...    yes       no        no       4         4     4    1    3      1
    260  ...     no      yes        no       2         3     1    2    2      5
    237  ...    yes      yes        no       5         2     5    1    1      5
    261  ...     no      yes       yes       4         4     3    1    3      5
    272  ...    yes      yes        no       2         3     3    1    2      4
    414  ...     no       no        no       4         3     4    1    2      1
    26   ...    yes       no        no       3         3     3    2    3      2
    394  ...    yes       no        no       4         3     3    1    4      5
    215  ...    yes       no        no       4         3     2    1    1      4
    442  ...    yes      yes        no       4         3     2    1    1      1
    226  ...    yes       no       yes       4         4     4    1    3      5
    367  ...    yes      yes        no       4         3     2    1    3      5
    330  ...    yes       no        no       3         5     1    1    1      5
    111  ...    yes      yes        no       4         4     5    3    5      5
    20   ...    yes      yes        no       3         3     3    1    1      2
    201  ...    yes      yes        no       4         3     3    1    1      3
    446  ...    yes      yes        no       5         5     4    1    2      5
    15   ...    yes      yes        no       5         1     3    1    2      5
    438  ...    yes      yes       yes       4         2     2    2    2      5
    256  ...    yes      yes       yes       3         2     5    4    4      5
    410  ...    yes      yes        no       5         4     2    1    2      5

        absences
    33         6
    54         0
    292        2
    405        0
    274        0
    131        6
    112        8
    308        4
    19         4
    98         2
    440        4
    163        0
    282        4
    168        2
    181        6
    230       12
    118       14
    399        0
    309        4
    426        0
    77         8
    339       16
    149       15
    76         4
    48         0
    375        0
    260        0
    237        0
    261        4
    272        3
    414        6
    26         0
    394        6
    215        4
    442        0
    226        0
    367        6
    330        4
    111        0
    20         0
    201       18
    446        6
    15         5
    438        0
    256        5
    410        6

    [46 rows x 30 columns],
         G3
    33   10
    54   13
    292   6
    405  15
    274  10
    131   9
    112  16
    308  15
    19   10
    98   15
    440  13
    163  11
    282  13
    168  11
    181  17
    230  10
    118   7
    399  17
    309  13
    426  13
    77   11
    339  12
    149  12
    76    9
    48   14
    375  15
    260   0
    237  16
    261   9
    272   8
    414   8
    26   12
    394  10
    215  14
    442  13
    226  10
    367   8
    330  11
    111  10
    20   10
    201  10
    446  13
    15    9
    438  12
    256  11
    410  15]},
  1: {'Train': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
    167     GP   F  16.0       U     GT3       T     3     1  services     other
    26      GP   F  16.0       U     LE3       T     3     1     other     other
    398     MS   D  17.0       R     GT3       T     2     2     other     other
    282     GP   F  18.0       R     GT3       T     2     2     other     other
    293     GP   F  17.0       R     LE3       T     2     2  services  services
    ..     ...  ..   ...     ...     ...     ...   ...   ...       ...       ...
    71      GP   M  16.0       U     GT3       T     3     3  services     other
    64      MS   F  17.0       R     GT3       T     3     2   at_home     other
    347     GP   F  17.0       U     GT3       T     3     1     other   at_home
    380     MS   D  16.0       R     GT3       T     1     1   at_home     other
    416     MS   F  19.0       U     LE3       T     2     2     other     other

         ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
    167  ...    yes      yes        no       4         3     3    1    2      5
    26   ...    yes       no        no       3         3     3    2    3      2
    398  ...    yes      yes        no       4         4     5    1    2      5
    282  ...    yes       no        no       3         2     3    1    1      5
    293  ...    yes      yes        no       3         3     2    2    2      3
    ..   ...    ...      ...       ...     ...       ...   ...  ...  ...    ...
    71   ...    yes      yes        no       5         3     3    1    1      5
    64   ...    yes       no       yes       4         5     4    1    2      5
    347  ...    yes      yes       yes       4         1     2    1    1      3
    380  ...    yes      yes       yes       4         2     2    4    3      2
    416  ...    yes      yes       yes       5         4     5    1    1      1

        absences
    167        0
    26         0
    398        0
    282        4
    293        0
    ..       ...
    71         4
    64         0
    347        6
    380        0
    416        0

    [408 rows x 30 columns],
         G3
    167  10
    26   12
    398   9
    282  13
    293  10
    ..   ..
    71   14
    64   10
    347  13
    380  14
    416  13

    [408 rows x 1 columns]],
   'Test': [    school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
    279     MS   F  15.0       R     LE3       T     1     1   at_home     other
    266     MS   F  16.0       U     GT3       T     3     3     other     other
    2       GP   M  15.0     NaN     GT3       T     3     4     other     other
    218     MS   F  16.0       U     GT3       A     3     2  services   at_home
    369     GP   M  15.0       U     GT3       A     2     2     other     other
    160     MS   M  17.0       U     GT3       T     3     4  services     other
    305     MS   M  18.0       R     GT3       T     3     2     other     other
    234     GP   M  17.0       U     LE3       A     4     1  services     other
    226     GP   M  16.0       U     LE3       T     1     1  services     other
    81      GP   M  15.0       U     GT3       T     4     3   teacher  services
    410     GP   M  18.0       U     GT3       T     2     2     other     other
    345     MS   F  18.0       R     GT3       A     4     3  services  services
    227     MS   F  18.0       U     GT3       T     1     1   at_home  services
    371     GP   F   NaN       U     LE3       T     2     2     other     other
    42      MS   F  18.0       R     GT3       T     2     2   at_home     other
    259     MS   F   1.0       R     LE3       T     2     2     other     other
    189     MS   M  16.0       R     GT3       T     1     1   at_home     other
    348     MS   M  17.0       R     LE3       T     2     2  services  services
    430     GP   F  15.0       U     GT3       T     1     2   at_home  services
    446     GP   M  15.0       U     GT3       T     2     2  services  services
    7       MS   F  17.0       U     GT3       T     1     1     other   at_home
    139     MS   M  18.0       R     LE3       T     1     2   at_home  services
    230     MS   M  20.0       R     GT3       T     1     1     other     other
    188     GP   M  15.0       U     GT3       T     3     4     other     other
    83      MS   F  16.0       U     GT3       T     3     1     other     other
    313     MS   M  15.0       R     GT3       T     1     1     other     other
    294     GP   M  17.0       R     GT3       T     1     2   at_home   at_home
    137     GP   F  16.0       U     GT3       T     4     4  services  services
    270     GP   F  17.0       U     GT3       T     3     4   at_home  services
    1       GP   M   NaN       R     LE3       T     3     3   teacher     other
    376     GP   M   NaN       U     LE3       A     4     2    health    health
    177     GP   M  16.0       U     LE3       T     2     2  services  services
    157     GP   M  18.0       U     GT3       T     2     2     other     other
    395     GP   C  15.0       U     GT3       T     2     3     other  services
    136     MS   M  17.0       U     GT3       T     1     2     other     other
    333     MS   F  16.0       U     GT3       T     4     4   teacher  services
    30      GP   M  18.0       U     GT3       T     2     1  services  services
    432     GP   M  17.0       U     GT3       T     3     3     other     other
    350     GP   M  15.0       R     GT3       T     4     3   teacher   at_home
    244     GP   F  18.0       U     GT3       T     2     2     other     other
    314     GP   M  18.0       U     GT3       T     3     2  services     other
    163     MS   M  16.0       R     LE3       T     4     1     other   at_home
    399     MS   D  16.0       R     GT3       T     2     3   at_home  services
    105     GP   F  16.0       U     LE3       T     1     1   at_home   at_home
    12      GP   F  17.0       U     GT3       T     2     4  services  services
    199     GP   M  15.0       U     LE3       T     4     3   teacher  services

         ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
    279  ...     no       no       yes       5         2     1    1    3      4
    266  ...     no      yes       yes       4         5     4    1    1      4
    2    ...    yes      yes        no       5         5     1    1    1      5
    218  ...    yes       no       yes       2         5     5    1    1      1
    369  ...    yes      yes       yes       4         5     2    1    1      3
    160  ...    yes      yes       yes       5         4     4    3    4      5
    305  ...    yes      yes        no       2         5     5    5    5      5
    234  ...    yes      yes       yes       4         5     4    2    4      5
    226  ...    yes       no       yes       4         4     4    1    3      5
    81   ...    yes      yes        no       2         2     2    1    1      3
    410  ...    yes      yes        no       5         4     2    1    2      5
    345  ...    yes      yes        no       5         4     4    3    4      2
    227  ...     no       no        no       4         4     2    1    2      2
    371  ...    yes      yes       yes       3         3     3    1    2      3
    42   ...    yes       no        no       5         3     3    1    3      4
    259  ...    yes       no       yes       4         3     3    2    2      5
    189  ...    yes       no        no       3         4     4    3    4      5
    348  ...    yes       no        no       1         3     5    3    5      3
    430  ...    yes       no       yes       2         3     4    2    4      1
    446  ...    yes      yes        no       5         5     4    1    2      5
    7    ...    yes       no        no       4         3     2    1    2      5
    139  ...     no      yes       yes       4         3     3    2    3      3
    230  ...     no      yes       yes       4         4     3    2    4      4
    188  ...    yes      yes        no       3         4     3    1    2      4
    83   ...    yes      yes        no       3         1     3    1    3      1
    313  ...    yes       no       yes       5         4     5    2    4      4
    294  ...    yes       no       yes       3         5     2    2    2      1
    137  ...    yes      yes        no       3         2     3    1    2      2
    270  ...    yes      yes       yes       4         4     3    3    4      5

__Ваш ответ:__ лучше бить по дефолту через _StratifiedShuffleSplit_ для классификации, тк мы не знаем, обьединены ли данные одной природой, чтобы использовать GroupFold, и лучше перемешать данные для генерации независимой выборки, а так сохранится доля классов в test train и будет сохраняться распределение классов. 

Данную задачу можно рассматривать и как регрессию, и как классификацию. Для регрессии сложно взять Stratified тк нету деления по классам, поэтому лучше выбрать _ShuffleSplit_

Если в данных есть какая-то группировка по природе объектов - лучше использовать Group strategy. Возможно объекты сгруппированы по Fedu, higher и studytime (высокая корреляция с G3). Поэтому можно сделать группы с высшим образованием (_higher_ - бинарный признак, лекго делить)

__Вывод:__ Стоит попробовать Group Shuffle на higher и либо StratifiedShuffleSplit (если рассматривать как классификацию), либо ShuffleSplit (если как регрессию)

# Часть 4. Заполнение пропусков в данных

## Фильтрация по диапазону значений 

Проверьте, что все характеристики принадлежат тому диапазону значений, который приведен в описании к исходным данным. Например, если в графе "Пол" есть значение FF, P или -1, то это явная ошибка заполнения.

Приведите данные в соответствии с описанием данных. Если значение указано неверно - укажите ```NaN```.

In [6]:
for column_name in list(X_train.columns):
    print(f"Column '{column_name}':\n\tUnique values: {list(X_train[column_name].unique())}\tCount: {len(X_train[column_name].unique())}")

Column 'school':
	Unique values: ['MS', 'GP']	Count: 2
Column 'sex':
	Unique values: ['M', 'F', 'D', 'C', 'B', 'A']	Count: 6
Column 'age':
	Unique values: [nan, 15.0, 17.0, 20.0, 18.0, 16.0, 19.0, 161.0, 181.0, 151.0, 116.0, 21.0, 22.0, -1.0, 1.0, 5.0, 8.0]	Count: 17
Column 'address':
	Unique values: ['U', 'R', nan]	Count: 3
Column 'famsize':
	Unique values: ['LE3', 'GT3']	Count: 2
Column 'Pstatus':
	Unique values: ['T', 'A']	Count: 2
Column 'Medu':
	Unique values: [1, 3, 4, 2, 0]	Count: 5
Column 'Fedu':
	Unique values: [3, 4, 1, 2, 0]	Count: 5
Column 'Mjob':
	Unique values: ['at_home', 'teacher', 'other', 'services', 'health']	Count: 5
Column 'Fjob':
	Unique values: ['services', 'other', 'at_home', 'teacher', 'health']	Count: 5
Column 'reason':
	Unique values: ['course', 'home', 'reputation', 'other']	Count: 4
Column 'guardian':
	Unique values: ['mother', 'father', 'other']	Count: 3
Column 'traveltime':
	Unique values: [1, 3, 2, 4]	Count: 4
Column 'studytime':
	Unique values: [1, 2, 3, 4]	Count: 4
Column 'failures':
	Unique values: [0, 1, 2, 3]	Count: 4
Column 'schoolsup':
	Unique values: ['no', 'yes']	Count: 2
Column 'famsup':
	Unique values: ['no', 'yes']	Count: 2
Column 'paid':
	Unique values: ['no', 'yes']	Count: 2
Column 'activities':
	Unique values: ['no', 'yes']	Count: 2
Column 'nursery':
	Unique values: ['yes', 'no']	Count: 2
Column 'higher':
	Unique values: ['no', 'yes']	Count: 2
Column 'internet':
	Unique values: ['yes', 'no']	Count: 2
Column 'romantic':
	Unique values: ['yes', 'no']	Count: 2
Column 'famrel':
	Unique values: [4, 3, 5, 1, 2]	Count: 5
Column 'freetime':
	Unique values: [3, 5, 2, 1, 4]	Count: 5
Column 'goout':
	Unique values: [3, 4, 1, 5, 2]	Count: 5
Column 'Dalc':
	Unique values: [2, 3, 1, 5, 4]	Count: 5
Column 'Walc':
	Unique values: [3, 5, 1, 2, 4]	Count: 5
Column 'health':
	Unique values: [3, 5, 2, 1, 4]	Count: 5
Column 'absences':
	Unique values: [0, 16, 4, 8, 2, 1, 9, 6, 5, 11, 3, 10, 12, 14, 18, 15, 24, 22, 32, 21, 13, 7]	Count: 22
Column 'G3':
	Unique values: [9, 12, 13, 11, 14, 16, 10, 17, 8, 15, 0, 6, 7, 19, 18, 1, 5]	Count: 17

__Misvalues columns__: sex, age

In [7]:
# sex
if len(X_train["sex"].unique()) > 2:
    odd_values = list(X_train["sex"].unique())
    odd_values.remove("M")
    odd_values.remove("F")
    for odd_sex in odd_values:
        X_train["sex"] = X_train["sex"].replace(odd_sex, np.nan)

# age
X_train.loc[(X_train['age'] > 22) | (X_train['age'] < 15), 'age'] = np.nan

## Адаптивное заполнения пропусков 

Реализуйте стратегию заполнения пропусков данных на основе схожих примеров. Обучите один из известных вам алгоритмов (knn, Naive Bayes, linear regression) для предсказания той характеристики, пропуски которой присутсвуют в данных. В качестве характеристики для обучения алгоритмов __нельзя__ использовать ```G3```.

In [8]:
design = X_train.loc[:, X_train.columns != "G3"]
design = pd.get_dummies(design, columns=[elem for elem in list(design.columns) if (elem != 'address' and elem != 'sex' and elem != 'age' and elem != 'absences')])

knn for sex

In [9]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

design_notnull = design[(design['sex'].notnull()) & (design['age'].notnull()) & (design['address'].notnull())]
design_notnull.loc[(design_notnull['address'] == 'U'), 'address'] = True
design_notnull.loc[(design_notnull['address'] == 'R'), 'address'] = False
design_notnull.loc[(design_notnull['sex'] == 'M'), 'sex'] = True
design_notnull.loc[(design_notnull['sex'] == 'F'), 'sex'] = False

design_age = design_notnull.loc[:, (design_notnull.columns != "age")]
age_target = design_notnull['age']

design_age_train, design_age_test, age_target_train, age_target_test = train_test_split(design_age, age_target, test_size=0.2, random_state=42)

In [10]:
design_notnull.loc[:, (design_notnull.columns != "age")]

,sex,address,absences,school_GP,school_MS,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,Medu_0,...,Walc_1,Walc_2,Walc_3,Walc_4,Walc_5,health_1,health_2,health_3,health_4,health_5
3,True,False,4,False,True,True,False,False,True,False,...,False,False,True,False,False,False,True,False,False,False
4,False,False,8,True,False,True,False,False,True,False,...,False,True,False,False,False,False,True,False,False,False
5,False,True,2,True,False,True,False,False,True,False,...,True,False,False,False,False,False,False,True,False,False
6,False,True,1,False,True,True,False,False,True,False,...,False,True,False,False,False,True,False,False,False,False
7,False,True,9,False,True,True,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,True,True,0,True,False,True,False,False,True,False,...,True,False,False,False,False,False,False,True,False,False
450,False,True,4,True,False,True,False,False,True,False,...,True,False,False,False,False,False,False,True,False,False
451,True,True,4,True,False,True,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True
452,False,False,0,False,True,False,True,False,True,False,...,False,True,False,False,False,False,False,False,True,False
453,True,True,2,True,False,True,False,False,True,False,...,True,False,False,False,False,False,False,False,False,True

Simple way with **KNN Imputer**

In [11]:
from sklearn.impute import KNNImputer

design_copy = design.copy()

design_copy.loc[(design_copy['address'] == 'U'), 'address'] = True
design_copy.loc[(design_copy['address'] == 'R'), 'address'] = False
design_copy.loc[(design_copy['sex'] == 'M'), 'sex'] = True
design_copy.loc[(design_copy['sex'] == 'F'), 'sex'] = False

age_i = design_copy.columns.get_loc('age')
address_i = design_copy.columns.get_loc('address')
sex_i = design_copy.columns.get_loc('sex')

imputer = KNNImputer(n_neighbors=2)
design_fillna = imputer.fit_transform(design_copy)

X_train['age'] = design_fillna[:,age_i]
X_train['sex'] = design_fillna[:,address_i]
X_train['address'] = design_fillna[:,sex_i]

X_train.loc[(X_train['address'] == True), 'address'] = 'U'
X_train.loc[(X_train['address'] == False), 'address'] = 'R'
X_train.loc[(X_train['sex'] == True), 'sex'] = 'M'
X_train.loc[(X_train['sex'] == False), 'sex'] = 'F'

/tmp/ipykernel_23205/742170770.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'U' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  X_train.loc[(X_train['address'] == True), 'address'] = 'U'
/tmp/ipykernel_23205/742170770.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'M' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  X_train.loc[(X_train['sex'] == True), 'sex'] = 'M'

Проверка

In [12]:
X_train

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,MS,M,18.0,U,LE3,T,1,3,at_home,services,...,yes,yes,4,3,3,2,3,3,0,9
1,GP,F,17.0,U,LE3,T,3,3,teacher,other,...,yes,no,3,3,4,3,5,3,16,12
2,GP,M,15.0,U,GT3,T,3,4,other,other,...,yes,no,5,5,1,1,1,5,0,13
3,MS,F,17.0,U,GT3,T,4,3,services,other,...,yes,yes,4,5,5,1,3,2,4,11
4,GP,F,20.0,R,GT3,T,2,1,other,other,...,yes,yes,1,2,3,1,2,2,8,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,GP,M,15.0,U,GT3,T,4,2,other,other,...,yes,no,3,3,3,1,1,3,0,10
450,GP,M,15.0,R,GT3,T,2,2,other,other,...,yes,no,5,1,2,1,1,3,4,10
451,GP,M,16.0,U,GT3,T,4,4,services,services,...,yes,no,5,3,2,1,2,5,4,15
452,MS,F,15.0,R,LE3,T,1,1,at_home,services,...,yes,no,5,4,3,1,2,4,0,10
453,GP,M,15.0,U,GT3,T,4,4,services,other,...,yes,no,5,3,3,1,1,5,2,12

In [13]:
for column_name in list(X_train.columns):
    print(f"Column '{column_name}':\n\tUnique values: {list(X_train[column_name].unique())}\tCount: {len(X_train[column_name].unique())}")

Column 'school':
	Unique values: ['MS', 'GP']	Count: 2
Column 'sex':
	Unique values: ['M', 'F', 0.5]	Count: 3
Column 'age':
	Unique values: [18.0, 17.0, 15.0, 20.0, 16.0, 15.5, 17.5, 16.5, 19.0, 21.0, 22.0]	Count: 11
Column 'address':
	Unique values: ['U', 'R', 0.5]	Count: 3
Column 'famsize':
	Unique values: ['LE3', 'GT3']	Count: 2
Column 'Pstatus':
	Unique values: ['T', 'A']	Count: 2
Column 'Medu':
	Unique values: [1, 3, 4, 2, 0]	Count: 5
Column 'Fedu':
	Unique values: [3, 4, 1, 2, 0]	Count: 5
Column 'Mjob':
	Unique values: ['at_home', 'teacher', 'other', 'services', 'health']	Count: 5
Column 'Fjob':
	Unique values: ['services', 'other', 'at_home', 'teacher', 'health']	Count: 5
Column 'reason':
	Unique values: ['course', 'home', 'reputation', 'other']	Count: 4
Column 'guardian':
	Unique values: ['mother', 'father', 'other']	Count: 3
Column 'traveltime':
	Unique values: [1, 3, 2, 4]	Count: 4
Column 'studytime':
	Unique values: [1, 2, 3, 4]	Count: 4
Column 'failures':
	Unique values: [0, 1, 2, 3]	Count: 4
Column 'schoolsup':
	Unique values: ['no', 'yes']	Count: 2
Column 'famsup':
	Unique values: ['no', 'yes']	Count: 2
Column 'paid':
	Unique values: ['no', 'yes']	Count: 2
Column 'activities':
	Unique values: ['no', 'yes']	Count: 2
Column 'nursery':
	Unique values: ['yes', 'no']	Count: 2
Column 'higher':
	Unique values: ['no', 'yes']	Count: 2
Column 'internet':
	Unique values: ['yes', 'no']	Count: 2
Column 'romantic':
	Unique values: ['yes', 'no']	Count: 2
Column 'famrel':
	Unique values: [4, 3, 5, 1, 2]	Count: 5
Column 'freetime':
	Unique values: [3, 5, 2, 1, 4]	Count: 5
Column 'goout':
	Unique values: [3, 4, 1, 5, 2]	Count: 5
Column 'Dalc':
	Unique values: [2, 3, 1, 5, 4]	Count: 5
Column 'Walc':
	Unique values: [3, 5, 1, 2, 4]	Count: 5
Column 'health':
	Unique values: [3, 5, 2, 1, 4]	Count: 5
Column 'absences':
	Unique values: [0, 16, 4, 8, 2, 1, 9, 6, 5, 11, 3, 10, 12, 14, 18, 15, 24, 22, 32, 21, 13, 7]	Count: 22
Column 'G3':
	Unique values: [9, 12, 13, 11, 14, 16, 10, 17, 8, 15, 0, 6, 7, 19, 18, 1, 5]	Count: 17